[2018-03-15 17:48] ricburton opened #3 "Long token names ruin the dropdown"
God damn CNX

<img src='https://shipusercontent.com/e5d543f1ff07d4a6391eaa350176d13c/Screen%20Shot%202018-03-15%20at%2012.46.19.png' title='Screen Shot 2018-03-15 at 12.46.19.png' width=562>

[2018-03-15 17:53] ricburton opened #4 "Sort by total value"

[2018-03-15 17:54] ricburton opened #5 "Copy / Past icon for addresses"
Love dat superhuman

<img src='https://shipusercontent.com/123c122174d24d7f641827bd855d6c90/Screen%20Shot%202018-03-15%20at%2012.52.48.png' title='Screen Shot 2018-03-15 at 12.52.48.png' width=169>
<img src='https://shipusercontent.com/e1700895f8721b49a81304dbe23246fa/Screen%20Shot%202018-03-15%20at%2012.52.43.png' title='Screen Shot 2018-03-15 at 12.52.43.png' width=171>
<img src='https://shipuse

[2018-03-15 18:29] ricburton opened #6 "Add long dash to empty prices & totals"
The em dash: —

<img src='https://shipusercontent.com/34e0d85774b6902050baedbb45fcd454/Screen%20Shot%202018-03-15%20at%2013.28.49.png' title='Screen Shot 2018-03-15 at 13.28.49.png' width=447>

[2018-03-15 18:30] ricburton opened #7 "Change three dashes - - - to a long dash for unknown tokens —"

[2018-03-15 19:46] ricburton opened #8 "Add more precision for tiny tokens"
<img src='https://shipusercontent.com/8b080b5a7b675ad1cd4c7f379f094f77/Screen%20Shot%202018-03-15%20at%2014.44.26.png' title='Screen Shot 2018-03-15 at 14.44.26.png' width=647>

KIN is really small.

We want to display precision relative to a sensible real-world value.

Ethereum is hundreds of dollars

KIN is a fraction of a cent

Getting the precision right for each token will help a lot and give

[2018-03-16 03:44] ricburton opened #13 "Send modal should close if you switch account"
Tiny edge case. I had the send modal up and I switched account in metamask immediately.

[2018-03-16 03:48] ricburton opened #14 "Dropdown tweaks"
(Love this widget btw.)

1.) Replace caret with the normal mouse cursor when you.
2.) Color change on button when you mouse over.
3.) Selected state where the color stays changed.
4.) Mouse over states when you move over the currencies.
<img src='https://shipusercontent.com/1bd337649f5301e526ba4b9385302cd4/Screen%20Shot%202018-03-15%20at%2022.48.06.png' title='Screen Shot 2018-03-15 at 22.48.06.pn

[2018-03-16 03:51] ricburton opened #15 "Changing what to send has some bugs"
1. The USD amount doesn‘t update.
2. The transaction fee error keeps popping up.

Here is my experience in a short video: https://cl.ly/1l0F401f1Q0v

[2018-03-18 17:51] pedrouid opened #24 "Move api_keys to Netlify Functions"
To speed up development, api_keys will be hardcoded on the repository but these need to be moved into serverless functions on Netlify to proxy the requests and hide the api_keys

[2018-03-20 02:40] ricburton opened #30 "*Almost* no value"
<img width="778" alt="screen shot 2018-03-19 at 21 38 41" src="https://user-images.githubusercontent.com/438160/37632822-ffc851fe-2bbd-11e8-9534-c7c62c400937.png">

I think any coins where the total is under $3 should be hidden too.

Perhaps it could be:

Show X tokens with almost no value.

[2018-03-21 03:13] ricburton opened #34 "QR Code warning after scanning"
it has worked but it still warns

[2018-03-21 03:14] ricburton opened #35 "Token list scrolling"
I got 99 tokens but BCH ain't one.

[2018-03-21 04:36] #7 closed, assigned to nobody

[2018-03-21 04:37] #5 closed, assigned to nobody

[2018-03-21 04:37] #6 closed, assigned to nobody

[2018-03-21 04:38] #15 closed, assigned to nobody

[2018-03-21 04:41] #35 closed, assigned to nobody

[2018-03-21 04:45] #14 closed, assigned to nobody

[2018-03-22 12:51] ricburton opened #43 "Add ERC-20 search & explanation into the app [Tim O’Shea]"
First question: can I send any token here?

We need to make it really clear from within the software.

[2018-03-22 12:52] ricburton opened #44 "ETH-ETH paid should be 0% [Tim O’Shea]"
<img src='https://shipusercontent.com/8c5149c2f8da6b73964d4ec6049e37dc/Messages%20Image%281608009277%29.jpeg' title='Messages Image(1608009277).jpeg' width=948>

[2018-03-22 12:52] ricburton opened #45 "Add Tooltips to the buttons on hover [Tim O’Shea]"
Minor detail but could be good.

[2018-03-22 12:54] ricburton opened #46 "Refresh when a token arrives [Tim O’Shea]"
Is this possible?

I guess we would need our own block scanning infrastructure built out.

[2018-03-24 04:30] #44 closed, assigned to pedrouid

[2018-03-24 04:31] #13 closed, assigned to nobody

[2018-03-24 04:32] #34 closed, assigned to nobody

[2018-03-24 04:34] #30 closed, assigned to nobody

[2018-03-24 04:34] #8 closed, assigned to nobody

[2018-03-24 18:36] ricburton opened #53 "WETH display issue [nick.oneill@gmail.com]"
0x648abda15186b1e4587722009497c8e3c9242c6b

It says I have 2.00 WETH though, and I don't think I do

How can I see the contract associated with that number? I know there are old and new WETH contracts, so it would be nice to know which one to take a closer look at

[2018-03-24 18:39] ricburton opened #54 "Idea: Send and copy Etherscan address automatically"
Could be nice

[2018-03-24 18:49] ricburton opened #55 "Fee disparity between Manager and MetaMask is confusing"
Great point from someone in intercom

[2018-03-24 22:00] ricburton opened #58 "Dark background doesnt cover full screen on LG"
<img width="1340" alt="screen shot 2018-03-24 at 16 57 08" src="https://user-images.githubusercontent.com/438160/37869405-cf205734-2f84-11e8-8fcc-5a11f52edd1b.png">

[2018-03-24 22:32] ricburton opened #60 "Token Ticker mixup [telegram: @mihirjoshi23]"
"hey Richard! I'm Mihir from Crypto Legitness. Just tried out the Balance app - it's gorgeous! Everything works great and I actually noticed that I had a lot of unaccounted money I didn't know I had, which was awesome. One piece of feedback I have would be that I have some tokens that have the same ticker as coins that exist but existed on different addresses before that token moved to another add

[2018-03-24 22:50] ricburton opened #61 "make the copy icon clickable to active copy"
i tried to copy by clicking on icon
<img width="60" alt="screen shot 2018-03-24 at 17 49 46" src="https://user-images.githubusercontent.com/438160/37869765-d1125fe0-2f8b-11e8-88af-dfb29c1a8e3d.png">

[2018-03-25 00:45] ricburton opened #62 "Change error text for sending too many tokens"
If i have 10 VIU and I try to send 100 VIU I get a gas related error.

Instead, it should explain that you are over the max. Perhaps something contextual.

I will think of a design

[2018-03-25 00:46] ricburton opened #63 "📘 Prompt to bookmark Manager"
Avoid phishing and keep the brand in mind

[2018-03-25 01:03] #55 closed, assigned to nobody

[2018-03-25 13:48] ricburton opened #64 "Just switching to cryptonex gave me a gas error"

[2018-03-25 13:50] ricburton opened #65 "Switching token after entering an amount doesn't update native currency balance"
1. don't change from ETH to token
2. Set an amount of 1000
3. Change to KIN token

USD native amount didn't update

[2018-03-25 21:04] pedrouid opened #66 "Intercom doesn't work on Firefox"

[2018-03-25 21:06] pedrouid opened #67 "Cache TokenInfo and Transactions with historical prices"
Just store it on localstorage

[2018-03-25 21:06] pedrouid opened #68 "Listen for the status of the broadcasted Tx hash"

[2018-03-25 21:07] pedrouid opened #69 "Listen for transaction list update from Etherscan websocket"

[2018-03-25 21:23] pedrouid opened #70 "Debug ADX token svg file"

[2018-03-25 21:29] pedrouid opened #71 "Store all native currencies rate on the price object"

[2018-03-25 21:30] pedrouid opened #72 "Debug native price chain effect on Transactions historical prices"

[2018-03-25 23:32] ricburton opened #73 "intercom doesn't show in brave (likely nothing we can do)"

[2018-03-26 02:43] #73 closed, assigned to nobody

[2018-03-26 03:58] pedrouid opened #74 "Add Transaction information on click"
<img width="963" alt="screenshot 2018-03-25 21 47 39" src="https://user-images.githubusercontent.com/10136079/37884566-2a771d4c-3076-11e8-8b37-91166b972427.png">

[2018-03-27 22:29] pedrouid opened #75 "Hide ETH to ETH native prices for txFeee"

[2018-03-28 03:46] ricburton opened #78 "BigNumber not null after clicking on intercom"
<img width="387" alt="screen shot 2018-03-27 at 22 46 22" src="https://user-images.githubusercontent.com/438160/38007779-b82442f0-3210-11e8-8a21-51410d9249e9.png">

[2018-03-28 16:02] pedrouid opened #79 "Pending Outgoing Transactions"

[2018-03-28 16:02] pedrouid opened #80 "Pending Incoming Transactions"

[2018-03-28 16:02] pedrouid opened #81 "Better error handling / UI"

[2018-03-28 16:03] pedrouid opened #82 "Shapeshit Integration / UI"

[2018-03-28 16:03] pedrouid opened #83 "Error tracking support"

[2018-03-28 16:22] pedrouid opened #86 "Clean Console Errors for Tokens with no icons"
Basically detect the errors asynchronously

or

Cleaning handling ourselves the errors for `imgSrc` not loading from Trust Token icons repo

[2018-03-28 16:33] #62 closed, assigned to ricburton, pedrouid

[2018-03-28 16:33] #67 closed, assigned to nobody

[2018-03-28 16:33] #70 closed, assigned to nobody

[2018-03-28 16:33] #71 closed, assigned to nobody

[2018-03-28 16:33] #72 closed, assigned to nobody

[2018-03-28 16:33] #74 closed, assigned to nobody

[2018-03-28 17:09] pedrouid opened #87 "Add ENS support for the Send Modal"

[2018-03-29 00:12] ricburton opened #89 "Adding a custom token"
At some point, tucked away, chill style.

[2018-03-29 17:15] pedrouid opened #90 "Create a TokenInfo fallback from web3 smartContract API"

[2018-03-29 17:15] pedrouid opened #91 "Fix getTransactionCount ('pending' number of transactions don't match)"

[2018-03-30 04:01] #66 closed, assigned to nobody

[2018-03-30 04:01] #65 closed, assigned to nobody

[2018-03-30 04:01] #91 closed, assigned to nobody

[2018-04-10 07:37] ricburton opened #103 "Pre-load token low token value images"
On a shitty internet connection the token images take an age.

It was noticeable when I hit the link for the low value tokens. Could be nice to preload all that data and then just reveal it.

[2018-04-10 07:38] ricburton opened #104 "Switch the switch"
<img width="274" alt="screen shot 2018-04-10 at 01 37 25" src="https://user-images.githubusercontent.com/438160/38542692-c55050fa-3c5f-11e8-8672-8a73fb94e171.png">

Would be great to switch the switch here when you toggle it.

[2018-04-10 07:40] ricburton opened #105 "Transaction Expansion: Super sluggish animation performance"
I think it would be best to make it instant or smooth. Sluggish performance here just feels weird.

https://cl.ly/4520433Y2x2e

I know this must ben insanely complex with the layered divs. Perhaps we need a different approach.

[2018-04-12 04:43] ricburton opened #106 "Tiny niggles with the copy and past icon"
On mouseover the icon lightly flickers.

The cursor should be a hand.

Some times it moves too far to the right.
![img_9396](https://user-images.githubusercontent.com/438160/38656746-7d5ee73e-3dea-11e8-8d92-b533585c9b21.JPG)

[2018-04-12 04:45] ricburton opened #107 "ERC20 icons all went to the fallback"
Perhaps I am getting the service worker issue again? These seem like the old icons?

![img_1725](https://user-images.githubusercontent.com/438160/38656798-c66433a8-3dea-11e8-92e8-55dc13f5cee0.JPG)

[2018-04-12 04:48] ricburton opened #108 "Adding the Interactions tab"
I would love to see how it looks.

[2018-04-12 04:49] ricburton opened #109 "Add an X icon to the Failed button"
<img width="96" alt="screen shot 2018-04-12 at 00 48 56" src="https://user-images.githubusercontent.com/438160/38656880-529a8f16-3deb-11e8-9c77-a42a4543710d.png">

[2018-04-12 04:53] ricburton opened #110 "Add a Show All button to transactions"
Clicking show more is annoying when you have loads of TX.

[2018-04-12 11:39] ricburton opened #111 "Add an explainer tool tip for "Mainnet""
New users will be like: What mainnet?

Is that french?

[2018-04-13 02:43] ricburton opened #113 "When ETH is selected as the native currency, make the % be -- instead of 0.0%"
<img width="972" alt="screen shot 2018-04-12 at 22 43 08" src="https://user-images.githubusercontent.com/438160/38714174-f8d332e0-3ea2-11e8-8065-87c435afca82.png">

Just to make it a little clearer.

[2018-04-17 21:45] ricburton opened #115 "Add more native currencies"
And all the currencies.

[2018-04-17 21:49] ricburton opened #116 "Feedback: I had to refresh to see tokens"
Instant updating will be dreams

[2018-04-17 21:49] ricburton opened #117 "Feedback: add custom token"
He couldn't see his custom Rinkeby token lolzzzzz

[2018-04-17 21:56] ricburton opened #118 "Feedback: sorting and date stuff"
Under transactions, would be excellent to have category: DATE

8h 8 hours ago
Under Balances, would be great to be able to *sort by* any of the categories so that, for instance, one can have there greatest 24hr percentile gain up top.

 Kelli Gwamtwa
 other than that excellent UX and many thanks

[2018-04-18 18:28] ricburton opened #119 "Sending KNC failed twice"
<img width="428" alt="screen shot 2018-04-18 at 14 28 27" src="https://user-images.githubusercontent.com/438160/38950845-cd1c17cc-4314-11e8-97f4-2d60c3ab04f6.png">

[2018-04-22 00:06] ricburton opened #120 "Expanding token balances breaks and throws error"
![8kq7ebkg](https://user-images.githubusercontent.com/438160/39089924-75f3946a-459f-11e8-941b-423bfe661109.jpg)
![hmocil-i](https://user-images.githubusercontent.com/438160/39089926-7d87bc92-459f-11e8-80e5-83c703d8d514.jpg)

0x3ca206264762caf81a8f0a843bbb850987b41e16

[2018-04-22 20:03] #68 closed, assigned to nobody

[2018-04-22 20:03] #79 closed, assigned to nobody

[2018-04-22 20:14] #24 closed, assigned to nobody

[2018-04-22 20:17] #117 closed, assigned to nobody

[2018-04-22 20:18] #4 closed, assigned to nobody

[2018-04-22 20:23] #86 closed, assigned to nobody

[2018-04-22 20:25] #90 closed, assigned to nobody

[2018-04-22 23:24] #108 closed, assigned to nobody

[2018-04-22 23:24] #110 closed, assigned to nobody

[2018-04-22 23:27] #106 closed, assigned to nobody

[2018-04-22 23:54] #3 closed, assigned to nobody

[2018-04-22 23:55] #53 closed, assigned to nobody

[2018-04-23 16:08] #116 closed, assigned to nobody

[2018-04-23 16:19] pedrouid opened #122 "Don't show "Show All" when Transactions/Interactions are less than 10"

[2018-04-23 16:20] #46 closed, assigned to nobody

[2018-04-23 19:04] #104 closed, assigned to nobody

[2018-04-23 19:39] #122 closed, assigned to nobody

[2018-04-23 19:43] #61 closed, assigned to nobody

[2018-04-23 20:09] #113 closed, assigned to nobody

[2018-04-23 20:09] #75 closed, assigned to nobody

[2018-04-23 21:24] pedrouid opened #124 "Support/Test Metamask beta version & ethjs"

[2018-04-24 01:41] pedrouid opened #125 "Cache balances/transactions for mainnet and testnet simultaneously"

[2018-04-24 02:21] #120 closed, assigned to nobody

[2018-04-24 15:54] #125 closed, assigned to nobody

[2018-04-24 16:19] ricburton opened #128 "Add (beta) to the title in the app"

[2018-04-24 17:13] ricburton opened #131 "Add a note to etherscan links to say: THIS TAKES 30-90 seconds"
Definitely a fan of the interface, had no issues conducting the exchange between addresses and appreciated that gas fees were expressed in my local currency, USD. Only problems that stood out for me were a) inability for it to pull up my ~90 prior transactions conducted on that metamask address, b) didn't recognize the DAI on my address, and c) stylistically I would recommend some sort of buffer b

[2018-04-24 17:22] pedrouid opened #132 "Offline breaks and throws `length of undefined` error"

[2018-04-24 17:31] pedrouid opened #133 "Update native amount on send modal when switching asset"

[2018-04-24 18:18] #132 closed, assigned to nobody

[2018-04-24 18:18] #133 closed, assigned to nobody

[2018-04-24 20:29] pedrouid opened #139 "Add transaction filtering by Asset"
Filter the table by asset type.

[2018-04-24 20:30] pedrouid opened #140 "Contact List / Label Addresses (to be used on Send Modal)"

[2018-04-24 20:51] pedrouid opened #141 "Select which tokens to hide or show"

[2018-04-24 20:52] pedrouid opened #142 "Create a transaction status display page (requires Balance Explorer)"

[2018-04-24 20:53] pedrouid opened #143 "Fix negative space around cards on narrow viewports"

[2018-04-24 21:05] pedrouid opened #144 "Add Ledger Hardware Wallet Integration"

[2018-04-24 22:17] ricburton opened #145 "BLOOM transfer issue @jessewallace74"
Oh okay - no surprise I couldn't figure that out then... There are a few transactions for WETH in my account as well, but I can't really make it out

51m 50 minutes ago
 Jesse Wallace
 Also, Transferred BLOOM tokens from my account via Balance to another address. The transaction ID reflects in the section but shows 0.00 along with the balance remaining unchanged. This gets changed only upon a refr

[2018-04-24 22:35] pedrouid opened #146 "Feedback: Ethereum balance shadow looks like stuck hover state"
![image_preview](https://user-images.githubusercontent.com/10136079/39217484-3ec46392-47ee-11e8-8b15-dc6db2ea412e.png)

[2018-04-24 22:36] pedrouid opened #147 "Feedback: “Show X tokens with low market value” not clearly actionable"

[2018-04-26 16:59] pedrouid opened #148 "Handle account type capitalization better"
Right now, account types are handled from their constants and simply capitalized for simplicity
This is inconsistent with the proper way they are capitalized or displayed. For example:

METAMASK                   -->        Metamask              =/=     MetaMask
WALLETCONNECT       -->        Walletconnect       =/=      WalletConnect

[2018-04-27 23:23] pedrouid opened #149 "Nonce too low // getTransactionCount failing to count for pending"

[2018-04-28 01:11] #144 closed, assigned to nobody

[2018-04-28 01:11] #143 closed, assigned to nobody

[2018-04-30 06:14] pedrouid opened #153 "Ledger approve transaction timeout after roughly 30 seconds"

[2018-04-30 18:50] pedrouid opened #154 "Handle Ledger sleep mode before opening send modal"

[2018-05-03 20:12] pedrouid opened #159 "Refactor SendModal onSubmit AccountType handler"

[2018-05-04 05:22] ricburton opened #160 "Limited ledger accounts (allow user to view more than 5 accounts)"
https://app.intercom.io/a/apps/j0fl7v0m/inbox/conversation/16123999912

[2018-05-05 16:57] pedrouid opened #161 "Failed transaction with not enough gas"
https://etherscan.io/tx/0x7631e148564350d67870e68574e160aef242153c46115f80c6fab4a2be41fdc6

[2018-05-05 16:59] pedrouid opened #162 "Transaction Fee prices have incorrect native currency conversion"
Currently converting for the asset transfered instead of ETH

[2018-05-05 17:01] pedrouid opened #163 "Pending transaction never getting confirmed"
Still discussing with the user (Kai Bakker) on Intercom

Possible scenarios:
  - Quick refresh page cut pending transaction checking proccess
  - Failed transaction failed to change status on Manager

[2018-05-05 17:04] pedrouid opened #164 "Change price source from Cryptocompare to Coinmarketcap for balances"

[2018-05-05 17:04] pedrouid opened #165 "Move transactions with ETH value from Interactions to Transactions tab"

[2018-05-07 13:02] pedrouid opened #166 "Pending transaction assumes gas price unchanged on Metamask"

[2018-05-07 13:03] #128 closed, assigned to nobody

[2018-05-07 13:07] pedrouid opened #167 "Pending transaction triggers fetching all transactions unnecessarily"

[2018-05-07 16:02] pedrouid opened #168 "Last input typed should persist value when changing selected Asset on Send or Exchange modal"
When changing the selected asset for Send or Exchange modal, the value persisted should be the last value typed

EXAMPLE

When sending, user types asset amount 1 for ETH and gets conversion of native amount 700 for USD then changes the asset selected to ZRX and native amount gets updated to 1.59 for USD

Alternatively if the user typed native amount 700 for USD and got a conversion of asset amount

[2018-05-07 16:11] pedrouid opened #169 "Enforce React/Redux logic to give preference to getState"
When accessing the latest state there are two patterns which are currently used that need refactoring:

1) Modals access state through a snapshot passed through modalProps available on Modal reducer
   (although most logic using this pattern is static, this gives room to unnecessary edge cases)

2) Passing props from redux state through action creators
   (this pattern is decreases code readabilit

[2018-05-07 16:12] pedrouid opened #170 "Add changelog / versioning / weekly releases"

[2018-05-07 16:13] pedrouid opened #171 "Unit testing"

[2018-05-07 16:14] pedrouid opened #172 "Collapse dropdown when onClick event happens outside of the component"

[2018-05-08 01:21] #169 closed, assigned to nobody

[2018-05-08 18:12] pedrouid opened #176 "Getting prices from same symbol conflicts"
[Reported by user through Intercom]

![000001](https://user-images.githubusercontent.com/10136079/39774726-b69e8948-52c9-11e8-9daf-186ea933191e.jpg)
![000002](https://user-images.githubusercontent.com/10136079/39774727-b6ac6de2-52c9-11e8-8275-0e2ae8a20caf.png)

[2018-05-10 02:26] ricburton opened #180 "Performance on hover state is poor"
when i mouse over the shadow takes ages to show

[2018-05-11 18:02] ricburton opened #182 "Support for Trezor"
We plan to support the Trezor hardware wallet. People should be able to view their balance and create transactions.

You will need a Trezor Hardware Wallet to complete this task. You can buy one here: https://shop.trezor.io?a=balance.io

[2018-05-13 11:12] ricburton opened #183 "🇨🇳 Translations for China"
We should add translations for the app that will help people who think in Mandarin and other languages.

[2018-05-13 11:15] ricburton opened #184 "📈 Add 0x to Exchange"
The 0x liquidity pool is getting bigger every day. We want to add support for it when the APIs are ready.

https://blog.0xproject.com/sneak-peek-0x-trade-widget-cbd13305407d

[2018-05-13 11:17] ricburton opened #185 "📊 Add data from CoinMarketCap"
If a token is on CoinMarketCap.com we should display the information. Lots of people have asked for this.

[2018-05-13 11:18] ricburton opened #186 "👼 Ethereum Name Service support (ENS)"
I want to be able to send ether and tokens to ENS domains from within Manager’s Send modal.

[2018-05-13 11:23] ricburton opened #187 "🇪🇸 Spanish Translations"
We want to help people who think in Spanish use Manager.

[2018-05-13 11:34] ricburton opened #188 "📩 Email tokens"
We have been talking a lot about how to do this in a decentralised way. Perhaps we could send tokens to a time-locked smart contract and generate the email as a company. This is an important feature with a lot to be worked out.

[2018-05-13 11:38] ricburton opened #189 "🖲 Send all tokens of value"
It would be cool to generate a bunch of transactions in sequence when you want to empty and ETH wallet out. There’s hundreds of clicks involved if you want to move all tokens from a software wallet to a hardware wallet.

[2018-05-13 11:39] ricburton opened #190 "💵 Buy ETH with dollars"
We want to partner with fiat-to-crypto exchanges to get this feature added as soon as possible.

Top pick at the moment: SFOX

Really friendly team who are doing great work.

[2018-05-13 11:40] ricburton opened #191 "💶 Buy ETH with Euros"
I need to start looking into European exchange partnerships.

[2018-05-13 11:42] ricburton opened #192 "💷 Buy ETH with Pounds"
As a British gentleman of the realm, I feel a duty to my Queen to help her subjects exit her fiat money. 🇬🇧

[2018-05-13 11:43] ricburton opened #193 "💴 Buy ETH with Yen"
I need an excuse to go snowboarding in Japan 🇯🇵 😅

[2018-05-13 11:46] ricburton opened #194 "⛓ Buy ETH with BTC"
Sometimes people want to turn gold into oil. Cosmos.network would be a perfect partner here.

[2018-05-13 11:50] ricburton opened #195 "💳 Offer loans powered by Dharma"
Bad debt is bad. Good debt is good. Dharma.io is creating a marketplace for debt on Ethereum. We should help our customers get access to sensible sums of capital with fair interest rates.

[2018-05-13 11:51] ricburton opened #196 "🎚Integrate Bloom’s credit scoring"
As people buidl credit in the crypto-economy, they will need a new kind of credit score. Bloom.co is working on that. I am not sure precisely what the integration will look like, but we should explore it.

[2018-05-13 12:51] ricburton opened #197 "🔐 Security Audit"
The only thing I fear more than cows (long story) is harming our customers. We need to get several external audits on our code to make sure we are doing everything possible to protect our customers.

[2018-05-13 12:55] ricburton opened #198 "📘 Bookmark prompt"
![balance_bookmark_prompt copy](https://user-images.githubusercontent.com/438160/39967539-1eb0b9f6-568b-11e8-83e8-19d6d3dc4080.png)

Little idea to reduce phishing. It is best if we encourage our customers to bookmark manager.balance.io and get to it from there. This helps them defend against scammers.

Great input from @mikedemarais on this:

could also probably toggle its visibility automaticall

[2018-05-13 14:39] ricburton opened #199 "📟 Support for Parity Signer"
This is really cool: https://twitter.com/ParityTech/status/995611676862046209

[2018-05-13 16:10] ricburton commented on #180
on the rows

[2018-05-13 16:53] ricburton opened #200 "💸 Donation Option"
Idea sparked off by a conversation with Dan Held: Allow people to donate and vote on what feature they want next.

[2018-05-13 17:05] fccbb opened #201 "$MAN doesn't sum up"
hi there I'm having an issue with the $MAN token, it displays my holding but the sum is buggy:

![screenshot 37](https://user-images.githubusercontent.com/30546271/39969705-40a9ec62-56e0-11e8-95c1-1d7de8f9e467.png)

[2018-05-13 17:43] ricburton commented on #201
Can you DM me your Ethereum address?

[2018-05-13 17:54] fccbb commented on #201
I sent you a @

[2018-05-13 18:09] christianbaroni commented on #201
To clarify, it's the price that's wrong—on CoinMarketCap it's $1.20.

[2018-05-13 18:13] ricburton commented on #197
We should set something up on HackerOne: https://www.hackerone.com/

[2018-05-13 18:37] ghiliweld commented on #188
Have you seen this? https://ethercashlinks.com/ not my project btw

[2018-05-13 18:46] ricburton commented on #188
I haven't! This looks awesome :)

Richard

Sent via Superhuman ( https://sprh.mn/?vip=richard@balance.io )

On Sun, May 13, 2018 at 14:37:35, Ghilia Weldesselasie < notifications@github.com > wrote:

[2018-05-13 22:16] fccbb commented on #201
right, I didn't think to check CMC cheers then I'll have to wait.

[2018-05-14 08:12] fccbb commented on #201
for info CMC is not a reliable source, they have been known to alter results:
[https://medium.com/@coinmarketcapped/intro-how-coinmarketcap-cmc-manipulates-the-market-by-showing-fraudulent-information-to-the-c1246a953144](https://medium.com/@coinmarketcapped/intro-how-coinmarketcap-cmc-manipulates-the-market-by-showing-fraudulent-information-to-the-c1246a953144)

[2018-05-14 11:14] ricburton opened #203 "👩‍❤️‍💋‍👩 Animated "Copied" confirmation"
I think it would be a really nice detail if the copy icon that appears when you hover over the Ethereum address animates or changes somehow. Perhaps it should have the icon and the text "Copy" and then it switches green, has a tick, and says: "Copied"

I will mock up a little design later.

[2018-05-14 13:15] ricburton commented on #203
![copied](https://user-images.githubusercontent.com/438160/39999504-3ec0c05c-5757-11e8-8607-22a31f952419.png)

[2018-05-14 13:44] ricburton commented on #201
Totally agree. We need price oracles.

However, users get confused. Perhaps we should list CMC and then all the exchanges explicitly when you click on the asset.

Will think more on this.

Richard

Sent via Superhuman ( https://sprh.mn/?vip=richard@balance.io )

On Mon, May 14, 2018 at 04:12:13, Black Sheep < notifications@github.com > wrote:

[2018-05-14 13:45] ricburton commented on #139
@pedrouid please review

Richard

Sent via Superhuman ( https://sprh.mn/?vip=richard@balance.io )

On Mon, May 14, 2018 at 02:11:06, Gitcoin.co Bot < notifications@github.com > wrote:

[2018-05-14 14:45] ricburton opened #204 "🏎 Trade engine"
We need to build a system that can tap into the liquidity of all of the decentralised exchanges to fulfill larger orders. It should ingest all of them:

https://0xproject.com/
https://airswap.io/
https://kyber.network/
https://uniswap.io/
https://dexy.exchange/

Then when people place an order it should find the right way to do it. This gets harder when the value goes up:

$10
$100
$1000
$10,000
$

[2018-05-14 15:08] iRyusa commented on #203
Hi !

Do we have the icon in SVG somewhere ?  I cannot find it in assets

[2018-05-14 15:10] ricburton commented on #203
I will upload ASAP. Back at my computer in an hour.

On Mon, 14 May 2018 at 07:16, Gitcoin.co Bot <notifications@github.com>
wrote:

--
Richard

[2018-05-14 15:28] DaniGuardiola commented on #203
I can't see the button you're referring to on `master`. Does the button exist already or does it need to be created? Am I on the wrong branch?

[2018-05-14 16:15] ricburton commented on #203
Here is the icon: https://cl.ly/3Q0i3b1W2z2V

[2018-05-14 16:25] DaniGuardiola commented on #203
I have created the PR and I will be pushing changes from time to time. As I'm new to this project I appreciate any input, guidance and feedback I can get.

Quick questions:

- I assume `develop` is the right branch to work on?
- My plan is to implement this in the `CopyToClipboard` component, is this the right way to go about it?
- I assume that the animation is nothing fancy, just a smooth switch

[2018-05-14 16:28] DaniGuardiola commented on #203
Oh man. I assume I should drop it?

I'm new to Gitcoin as well so maybe I'm in the wrong, but aren't people supposed to register if they are working on it, so others don't have to worry about doing work that's already being done?

[2018-05-14 16:33] DaniGuardiola commented on #203
I'm gonna stop work until I get a clarification on the Gitcoin situation. Sorry if I caused any confusion.

[2018-05-14 16:34] ricburton commented on #203
No worries at all! Rest assured we will reward you for your time :)

[2018-05-14 16:43] DaniGuardiola commented on #189
How would this work? How does balance-manager obtain the addresses for the new wallet and why would it need different transactions? For privacy (one for each address instead of a single one with all addresses)? If this is the reason, I assume the destinations would be separate addresses from the hardware wallet as well.

[2018-05-14 16:52] ricburton commented on #189
So I was imagining an option to send all tokens being like this:

<img width="1289" alt="screen shot 2018-05-14 at 12 51 58" src="https://user-images.githubusercontent.com/438160/40011370-a617ab8a-5775-11e8-94e4-47cfd04979ec.png">

[2018-05-14 16:52] ricburton commented on #189
Then it would generate all the transactions necessary to get it done.

[2018-05-14 16:56] DaniGuardiola commented on #189
Ahhh, sorry I didn't understand. Ok I get it now. Should be feasible, I'll think about tackling this one. Thanks!

[2018-05-14 16:58] ricburton commented on #189
It was my poor explanation!

On Mon, 14 May 2018 at 12:56, Dani Guardiola <notifications@github.com>
wrote:

--
Richard

[2018-05-14 17:04] DaniGuardiola commented on #182
This is what I imagine would be the user flow:

- The first time using the Trezor wallet, it should be connected to retrieve all addresses. To update addresses it will need to be plugged again every time new ones are generated. I need to check how Trezor works with ETH to know about the specifics, but if it has a BIP-32 style wallet protocol, I don't know if the option to import the public seed wo

[2018-05-14 17:12] pedrouid commented on #182
That shouldn't be a problem with Ethereum, once you get the seed phrase, you always generate the same addresses. Unlike Bitcoin you don't regenerate multiple addresses for the private&public key pair.

If you look at the Ledger implementation (under src/handlers/ledger-eth.js) you will see how this is implemented.

Each wallet implementation has its own page (check src/pages) and its own reducer (

[2018-05-14 17:19] DaniGuardiola commented on #182
@pedrouid ok so as I said I need to do some more research, but as I suggested, having the public seed key would solve the address issue with deterministic behavior. I'm assuming that the protocol for Ethereum works like (if not the same as) BIP-32, and BIP-39 is also used for mnemonics (the seed phrase that generates the HD key).

However, for security, you never ever import the seed directly if y

[2018-05-14 18:02] calchulus commented on #203
going to be fancy here, but think it'd be fun if there was a copy of the "copied" that popped up and faded away, looking like a copy~

[2018-05-14 19:38] mkeen commented on #63
@ricburton What would you think about making the copy conditional depending on the platform?

| Platform   | Copy       |
| ------------- |:-------------:|
| Default    | CTRL+D to bookmark Balance Manger and protect yourself from phishing attacks |
| Mac         | ⌘+D to bookmark Balance Manager and protect yourself from phishing attacks |
| Mobile     | Bookmark Balance Manager to protect agains

[2018-05-14 19:39] ricburton commented on #203
Oooh @calchulus can you explain more?

[2018-05-14 19:41] ricburton commented on #63
I am keen @mkeen. Would love to see that.

Also a nice slide away animation up and down could be tasty.

[2018-05-14 19:43] amhed commented on #187
Working on this one

- [X] Improving already existing dictionary entries
- [x] Adding localization support for some parts of the app that are hard-written (e.g. wallet selection screen)
- [x] Fixing tab width when language is changed
- [x] Adding (MVP) dropdown language selection UX

[2018-05-14 19:49] ricburton commented on #187
@amhed 😇

I will find this issue on Gitcoin asap. You should sign up here: https://gitcoin.co/

[2018-05-14 20:12] DaniGuardiola commented on #63
hey @mkeen let me know if you're not picking this one up, because I am interested as well :)

[2018-05-14 22:00] mikedemarais commented on #107
@ricburton I do think this is happens when running the project locally.

I fixed [the issue with the flickering icons](https://cl.ly/3A02051N1347) here though ➡https://github.com/balance-io/balance-manager/pull/211

[2018-05-14 22:19] mikedemarais commented on #107
**UPDATE** 😜

@ricburton Confirmed. This **does** only happen when the project is run locally.

It's happening because the `token` image assets are linked as a `git submodule` and therefore image files are not being downloaded to your local machine by default. (https://github.com/balance-io/balance-manager/blob/latest/.gitmodules)

To solve the issue while running the project locally.. Run this co

[2018-05-14 22:53] #107 closed

[2018-05-14 22:54] #180 closed

[2018-05-14 23:20] #172 closed, assigned to nobody

[2018-05-14 23:55] ricburton opened #214 "📊 Expanded state on token balances"
<img width="907" alt="screen shot 2018-05-14 at 19 51 41" src="https://user-images.githubusercontent.com/438160/40029106-af6001ac-57b0-11e8-9bf4-1ec6f93e8f81.png">

I have always thought it would be cool to see the value of all the tokens fluctuating over time like this. I'm imaging it being at the top of the balances page.

[2018-05-14 23:58] pedrouid opened #215 "Add prettier as a dev dependency and lint/format before pushing"
### What is this issue about?

* [ ] Bug report
* [ ] Feature request
* [x] Enhancement

### Description

* Add `prettier` as a dev dependency
* Add `prettierrc` to match eslint rules
* Add pre-push hook to lint and format
* Add script to lint and format without pushing

[2018-05-15 00:33] pedrouid opened #219 "Persist hiding or showing balances and transactions"
### What is this issue about?

* [ ] Bug report
* [x] Feature request
* [ ] Enhancement

### Description

Persist hiding or showing balances and transactions

[2018-05-15 09:08] ricburton opened #220 "⚫️ Shadow + Line + Rounded Rec looks 🤢"
<img width="24" alt="screen shot 2018-05-15 at 05 07 05" src="https://user-images.githubusercontent.com/438160/40047606-eb465ff2-57fd-11e8-9121-b2e4688be7d5.png">

This shadowed rounded rec and the lines above and below don't look smooth. @christianbaroni perhaps it could animate away the lines above and below?

[2018-05-15 09:09] ricburton commented on #220
<img width="141" alt="screen shot 2018-05-15 at 05 09 11" src="https://user-images.githubusercontent.com/438160/40047679-1f4dafd0-57fe-11e8-8afc-0629be80f04c.png">

[2018-05-15 09:31] ricburton opened #221 "♿️ Accessibility Audit"
I have never worked on an accessible web app. We should figure out who is working on making crypto accessible for folks who need software that caters to their needs.

[2018-05-15 09:55] ricburton commented on #214
I would love to integrate data from OnChainFX.com

![expanded balances](https://user-images.githubusercontent.com/438160/40050088-767f3ba6-5804-11e8-9c84-1001e16f9f08.png)

https://onchainfx.com/asset/ethereum

[2018-05-15 11:06] dilatebrave commented on #45
I've add the tooltips ^^

[2018-05-15 13:30] mirshko commented on #220
Where is this on the UI? Bigger scope screenshot with callout would be nice :)

[2018-05-15 13:31] mirshko commented on #200
Whats the idea for this? ETH Address for donations? USD?

Also how would voting be organised?

[2018-05-15 15:05] samelliott89 commented on #63
@ricburton  Perhaps the second pass of this could be a "responsible Balance user" checklist:

1. Install Cryptonite by Metacert (if Chrome or Firefox)
2. Bookmark "Manager"
3. Always look for https (insert image of EV SSL Balance (Balanced Software, Inc.) in browser)
4. ...etc

[2018-05-15 19:33] vs77bb commented on #203
Hi @DaniGuardiola Vivek from Gitcoin here - correct that 'Start Work' provides you precedence here, please do feel free to continue your PR!

[2018-05-15 23:18] pedrouid commented on #203
@calchulus I love that idea!

[2018-05-16 01:37] ricburton opened #223 "BigNumber Error sending ZRX"
### What is this issue about?
 Bug report

### Description

Sending ZRX failed with bignumber error

## Steps to reproduce

1. Try sending ZRX from my test account

2. Saw BigNumber error
3. Got this tx . hash: https://etherscan.io/tx/0x9f699e9d8639b203f4cfeb571e7852bf736ef89ddb7ac8abc55c4f9976012776

[2018-05-16 03:52] samelliott89 commented on #200
Proposed idea for donation piece. Not 100% loving where I've put "Donate" button, perhaps @ricburton you could give some guidance. But imagining this pulls up the exchange modal to accept ETH donations. Recipient address would be pre-populated. Also default to "Slow".

<img width="1040" alt="screen shot 2018-05-15 at 8 43 34 pm" src="https://user-images.githubusercontent.com/6912845/40095574-a45c9

[2018-05-16 09:38] ricburton commented on #200
@mirshko not sure right now. Just exploring.

@samelliott89 love this!

@christianbaroni, what do you think of something like this? Perhaps a little less prominent?

[2018-05-16 09:43] ricburton commented on #223
<img width="1796" alt="screen shot 2018-05-16 at 05 42 02 copy" src="https://user-images.githubusercontent.com/438160/40109749-16dc18fe-58cc-11e8-8e65-350711428e8d.png">

[2018-05-16 09:45] ricburton opened #225 "⏲ Error timing and logs"
It would be good if the errors stuck around a little longer. It would also be good to be able to find the logs somewhere.  Then it would be easier to debug issues.

Also, a redesign of the error popup could be good. Will take a pass at some point.

[2018-05-16 09:47] ricburton commented on #200
Also the recipient address should be known. It'll be us :)

[2018-05-16 16:39] DaniGuardiola commented on #203
@vs77bb ok thanks for the clarification @vs77bb and @iRyusa, I'll finish the PR then!

[2018-05-16 17:33] #220 closed, assigned to nobody

[2018-05-16 18:00] #146 closed

[2018-05-16 21:17] #163 closed

[2018-05-16 21:17] #167 closed

[2018-05-17 15:40] samelliott89 commented on #200
@ricburton Yes, that will be pre-populated with your ETH address of choice. Implementation wise, was going to create a new, reduced version of SendModal instead of overriding the existing one?

[2018-05-17 15:52] mirshko commented on #200
It could also be done with a prop of the donation Eth address sent into the
SendModal component instead of adding more code 😉

On Thu 17. May 2018 at 17:40, Sam Elliott <notifications@github.com> wrote:

[2018-05-17 15:59] mkeen commented on #63
Preparing PR

[2018-05-17 16:20] samelliott89 commented on #200
@mirshko I'm all for that 👍 The piece I'm struggling with is all modals are called (quite nicely) like so:

[code]
and then populated based on redux state. Perhaps on Donate button press I could update some sort of redux state and have that populate SendModal with the ETH address (let me know if this is what you mean...)

I'm being cautious here as I want to adhere to your implementation style :)

[2018-05-17 16:28] anshumanv commented on #186
Yes, working on it.

Hey @ricburton :wave:
Do you know of any particular api or package that can do the ENS resolution?
I tried using https://www.npmjs.com/package/ethereum-ens and https://github.com/ethjs/ethjs-ens but doesn't look like they are working properly.

Will appreciate any inputs you have. :smile:

[2018-05-17 17:01] pedrouid commented on #200
Hi @samelliott89, I used to have custom props that I called `modalProps` on the `_modal.js` reducer that allowed to populate the modal, the disadvantage of this approach was that it produced a snapshot of the state at the moment the modal was opened, this could be improved by having an action to update `modalProps` by using the `componentDidUpdate` at the origin of these modals.
However I don't th

[2018-05-17 17:02] pedrouid commented on #200
[code]

[2018-05-17 17:03] pedrouid commented on #200
This way you can map these modalProps into the `DonationModal` and use the props given by the `modalOpen` action creator

[2018-05-17 21:38] albedo-039 commented on #182
I would like to know what are the requirements to contribute to this issue through Gitcoin.
I can contribute my knowledge in Ethereum, Trezor One, Trezor T, React and TypeScript.
Thanks in advance.

[2018-05-18 07:18] anshumanv commented on #186
Please check #231

[2018-05-18 16:41] DaniGuardiola commented on #189
Yup

[2018-05-19 01:27] amhed commented on #187
Got caught up with the day job after blockchain week. Will submit a WIP PR tomorrow :)

[2018-05-19 02:28] ricburton opened #232 "✉️ Email Submission Bug"
It overflows on mobile. Needs work. Will
Upload screenshot.

[2018-05-19 03:08] samelliott89 commented on #200
<img width="1195" alt="screen shot 2018-05-18 at 8 01 20 pm" src="https://user-images.githubusercontent.com/6912845/40264375-f53f1676-5ad6-11e8-8623-e936a0a6be76.png">

@pedrouid @ricburton have a working version. Will need an ETH address from you guys to collect donations before I can submit a PR. :)

[2018-05-19 12:49] ricburton opened #233 "🔁 Integrate LocalEthereum.com"
At the very least we should link to LocalEthereum.com.

A deeper integration would be really interesting and would teach us a lot about how to help [Ramp.network](http://ramp.network).

[2018-05-19 13:29] ricburton commented on #200
This is amazing! Thank you. Please add this address: 0x8F12DA507508138993EB3BAA610D18E036cD9936

[2018-05-19 13:41] ricburton commented on #186
@pedrouid will review this shortly :)

[2018-05-19 13:42] ricburton commented on #186
Sorry he already has :)

[2018-05-19 13:42] ricburton commented on #186
Oh he already has.

[2018-05-19 13:44] ricburton commented on #182
Thanks everyone. We are new to open source and @gitcoinbot so we are learning as we go.

We will try to spec this out more clearly.

I think it is a requirement to have Ledger and Trezor. That way you can test both implementations properly and see how it all works.

[2018-05-19 20:27] albedo-039 commented on #182
Thanks @ricburton. So, If I meet these requirements, what should I do to contribute to the solution via Gitcoin?

[2018-05-19 20:28] DaniGuardiola commented on #182
@ricburton just today I finished a BIP44 implementation in a React Native App. I think I could manage implementing this, but it really depends on what you want.

I see two options:
- Full wallet import (with the BIP39 seed) which means that you are just importing the same wallet with all the private keys and everything, and the trezor is no longer needed to transact
- Watch only wallet that can ge

[2018-05-19 20:29] DaniGuardiola commented on #182
PD: there's another complication I forgot, Ethereum tokens. I don't know how they work at all so I would need to take a look at that. I don't think it's complicated though.

[2018-05-19 20:31] ricburton commented on #182
Does everyone have all the hardware?

Tokens are actually surprisingly fiddly :)

On 19 May 2018, 16:29 -0400, Dani Guardiola <notifications@github.com>, wrote:

[2018-05-19 20:33] DaniGuardiola commented on #182
@ricburton I don't but I can either buy a Trezor or borrow one from a friend.

I don't have the Ledger tho. In any case, if the APIs, docs and tooling around the devices are mature, then as long as someone tries it in the end it should be fine, in my opinion.

[2018-05-19 20:38] ricburton commented on #182
I wouldn’t waste your time Dani. There are lots of quirks to the hardware.

You definitely need the tools for this. It’s just a small issue in terms of
payment so we are really hunting for a crypto enthusiast.

On Sat, 19 May 2018 at 16:33, Dani Guardiola <notifications@github.com>
wrote:

--
Richard

[2018-05-19 20:45] pedrouid commented on #182
You don't need to know how Ethereum Tokens work, Balance Manager already handles that.
The spec for this issue is as follows:
- Render Account view on Trezor page and handle UX for user connection (build a reducer for this _trezor.js)
- Send a raw transaction to Trezor  to be signed and return a transaction hash/id (this is controlled on web3SendMultiWallet on src/handlers/web3.js
- Handle switchi

[2018-05-19 20:45] DaniGuardiola commented on #182
@ricburton alright well I'll let you know if I get one of those devices before this issue is taken.

PD: Edited for obvious reasons :)

[2018-05-19 20:46] pedrouid commented on #182
I agree that the hardware device is required to make this integration

[2018-05-19 23:30] amhed commented on #187
WIP PR is up w/comments. Spanish sentences fixed, next will rebase to fix conflicts, and will submit another PR for the layout changes

[2018-05-19 23:33] ricburton commented on #187
Ojalá supiera español. ¡gracias!

On 19 May 2018, 19:30 -0400, Amhed Herrera <notifications@github.com>, wrote:

[2018-05-20 03:48] amhed commented on #171
How much do we wish to test?
- Only on reducers?
- Inspecting DOM elements after render using a library like Enzyme?

I assume that:
- This task is only to setup the basic infrastructure to get tests running, and that
- After initials config done/examples created we will create independent issues for coverage on specific parts of the code
- We will also have an issue for running tests on the CI +

[2018-05-20 03:58] pedrouid commented on #171
I already started on this, check the ‘tests’ branch

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-05-20 03:59] pedrouid commented on #171
I want to start with the ‘helpers’ folder then move onto ‘handlers’

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-05-20 04:17] amhed commented on #171
👌 Will love to take on some test coverage after you land first examples/conventions

[2018-05-20 14:28] abstractpoint commented on #221
I'm keen to pick this up. I suggest we make a table with features/sections of the app, and assess if each of those pass simple accessibility criteria.

In my experience the most important are: visual contrast, keyboard/clicker navigation and voice-over.

So currently most of the screens fail the navigation and voice-over criteria. The navigation especially, there is no clearly visible outline arou

[2018-05-20 14:31] abstractpoint commented on #221
Can separate pull requests be attributed to this single issue, and we can close it once all the issues are fixed? Is that a good way to manage it or should we have separate issues?

[2018-05-20 16:29] ricburton commented on #221
I definitely think we should break this out. My concern here is that MetaMask and Ledger are not accessible at all. Perhaps we should wait until we do Wallet?

Richard

Sent via Superhuman ( https://sprh.mn/?vip=richard@balance.io )

On Sun, May 20, 2018 at 10:31:20, George T < notifications@github.com > wrote:

[2018-05-20 20:09] ondratra commented on #182
I am also willing to implement the solution(and have Trezor and relevant skills). I can do the job in week max. Let me know if my help is needed.

[2018-05-20 21:25] abstractpoint commented on #221
Ok I forgot about that. Let's revisit then, and can close for now.

[2018-05-21 07:17] DaniGuardiola commented on #203
Yes I'm on it gitcoinbot

[2018-05-21 10:39] kwikiel opened #236 "macaddress package vulnerable"
### What is this issue about? (select one)

* [ ] Bug report

### Issue Description

"All versions of macaddress are vulnerable to command injection. For this vulnerability to be exploited an attacker needs to control the iface argument to the one method."

https://nodesecurity.io/advisories/654

## Steps to reproduce

npm install

[2018-05-21 14:12] ricburton commented on #236
Can you explain this in more detail?

Richard

Sent via Superhuman ( https://sprh.mn/?vip=richard@balance.io )

On Mon, May 21, 2018 at 06:39:37, Kacper Wikieł < notifications@github.com > wrote:

[2018-05-21 14:14] ricburton commented on #203
<3

Richard

Sent via Superhuman ( https://sprh.mn/?vip=richard@balance.io )

On Mon, May 21, 2018 at 03:18:44, Dani Guardiola < notifications@github.com > wrote:

[2018-05-21 18:35] pedrouid commented on #236
@kwikiel Thanks for letting us know!
Does this vulnerability only compromise local development?
Also is this only within NPM or includes Yarn?

[2018-05-21 18:40] pedrouid commented on #236
Never mind I have just looked into this and got the answer

[2018-05-21 19:15] ricburton commented on #232
https://spectrum.imgix.net/threads/8dac1cbb-a8f8-43d6-a524-1d15cd6fca48/ryQeXcxk7-7F340299-A47A-4056-A633-43973FFE60CB.png?max-w=768

[2018-05-22 03:17] samelliott89 opened #237 "Can submit a transaction with 0 or "nothing" as the value"
### What is this issue about? (select one)

* [ ] Bug report

### Issue Description

You can send a transaction with a value of 0 or "nothing". Is this intentional?

## Steps to reproduce

1. Open Send Modal
2. Submit a transaction with 0 value.

<img width="1005" alt="screen shot 2018-05-21 at 8 15 36 pm" src="https://user-images.githubusercontent.com/6912845/40340486-f8c34100-5d33-11e8-868f-2d4e

[2018-05-22 12:44] zitterbewegung commented on #182
@pedrouid  So I have figured out how to run a development environment on my machine.  Also the library that I will be using is Trezor Connect since it allows me to pull the balance information. See https://doc.satoshilabs.com/trezor-tech/api.html#trezor-connect for more information.

[2018-05-22 15:29] pedrouid opened #238 "DISCUSSION: Refactoring to reduce duplicate code"
If you have taken a look at the source code, there is a lot of code that is duplicated which makes unit testing harder and debugging even worse. The major stress points are the `modals` and relevant `reducers`.

There is too much duplication in these areas which I'm working on cutting down as develop new features, but I would love to hear second opinions and suggestions on how to tackle this.

Let

[2018-05-22 16:45] pedrouid commented on #182
@zitterbewegung Great!! Looking forward for your PR. Let me know if you have any questions.

[2018-05-22 16:48] pedrouid commented on #237
Yes, it's should be totally allowed even if redundant
One scenario for example is on Ropsten testnet you can get Status Test Tokens by sending 0 value to their faucet.

However thanks for reporting the Bug, that infamous NaN shouldn't be there!

[2018-05-22 17:06] ricburton commented on #238
Can we refactor the title to *discussion* :P

Richard

Sent via Superhuman ( https://sprh.mn/?vip=richard@balance.io )

On Tue, May 22, 2018 at 11:29:05, Pedro Gomes < notifications@github.com > wrote:

[2018-05-22 18:23] samelliott89 commented on #237
I see. What about "no value". i.e null/empty string etc.?

[2018-05-22 19:58] ricburton opened #240 "😻 Unique Tokens (Nerds call them Non-Fungible Tokens)"
We need to display our customers' kitties.

[2018-05-23 13:22] tomjohnburton opened #241 "Timeout Error"
### What is this issue about? (select one)

* [X ] Bug report
* [ ] Feature request
* [ ] Enhancement

### Issue Description

Error received while attempting to make an exchange. Error did not affect the actual purchasing process.

Also I typed 0.03 ETH by accident and quickly changed to 0.3 ETH. However the ZRX conversion did not update to the new amount.

<img width="828" alt="screenshot 2018-05

[2018-05-23 16:34] samelliott89 commented on #238
Some commentary after spending time in the codebase sprinkled in with some some good react hygiene suggestions. I've also taken into account that this is an OS front-end project which comes with a whole set of it's own challenges. This is also **not** a critique of the codebase:

* If a piece of code contains logic, it **should** be its own component. Some of the files are huge because of not enfo

[2018-05-23 16:35] ricburton commented on #238
Thanks for your thoughts here ❤️

On Wed, 23 May 2018 at 12:34, Sam Elliott <notifications@github.com> wrote:

--
Richard

[2018-05-23 16:47] pedrouid commented on #238
@samelliott89 Totally onboard with these, I will start moving towards these approaches.

Can you just expand on the string literals? Is this related to the multiple state variables like AccountType, Network, etc?? I tend to use these to ensure state changes happen accordingly and avoid scenarios where objects transport the same reference and not trigger Redux state change. However I’m open to tack

[2018-05-23 21:40] ricburton opened #242 "💩 Hide shitcoins"
I have 2 assets and 2 shitcoins. These should be hidden.
<img width="1009" alt="screen shot 2018-05-23 at 17 39 49" src="https://user-images.githubusercontent.com/438160/40452594-600c6986-5eb0-11e8-934b-893c53f2ea25.png">

[2018-05-23 21:44] mikedemarais commented on #232
I fixed this in this PR https://github.com/balance-io/balance-manager/pull/243

[2018-05-24 03:55] mikedemarais commented on #238
@pedrouid @samelliott89 also wondering what ya mean in regards to string literal. thinking it could be the styled-components or perhaps he means using something like IndexDB instead of stringifying to localstorage https://github.com/balance-io/balance-manager/blob/81bc4f404f6f9f972c429d8bfb5bb63073b92b8b/src/handlers/localstorage.js#L8

[2018-05-24 04:01] samelliott89 commented on #238
@pedrouid More in reference to code like:

`this.props.gasPriceOption === 'slow'`

Could be like
`import { gasSpeed } from ./utils/...`
`this.props.gasPriceOption === gasSpeed.slow`

Just tidying up that sort of stuff, unless you think this can have unintended consequences with redux.

[2018-05-24 16:35] amhed commented on #187
Just waiting for PR Review :D

[2018-05-24 17:33] pedrouid commented on #242
This was a fairly recent change that me and Christian decided to unhide if the account had less than 5 tokens.

What we should probably do instead is enable the user to choose which tokens to hide? Or revert the change to hide according to Market Value regardless of total amount of tokens?

[2018-05-24 17:42] pedrouid commented on #187
Hi @amhed, I'm currently travelling and your PR looks great but we still need to work on the TabMenu animation

cc @mikedemarais

The first issue is that the current TabMenu on this PR now expands according to the number of characters which fixes the Transalation issue but the animation is not smooth.

The other issue that the Balances Tab now doesn't match the previous designs, it needs to expand

[2018-05-24 17:44] pedrouid commented on #238
Sounds good, I really like this spec!

[2018-05-24 18:41] amhed commented on #187
I'll take a swing at both of these tonight, after day job is over

[2018-05-24 18:44] amhed commented on #242
We could have a black list of the better known ones. And then give the user the option to remove them locally if they wanted to

[2018-05-24 21:36] samelliott89 commented on #238
@pedrouid great. LMK if you want to say `have a crack` at doing this for one area of the code base and then I can lean in and roll out over other parts. Here to help.

[2018-05-24 21:40] #232 closed, assigned to nobody

[2018-05-25 12:26] DaniGuardiola commented on #189
Yes gimme some time bot

[2018-05-25 12:31] ricburton commented on #189
Thanks Dani 🤗

On 25 May 2018, 08:26 -0400, Dani Guardiola <notifications@github.com>, wrote:

[2018-05-25 18:19] vs77bb commented on #187
Just snoozed the GitcoinBot warnings, thanks for the quick reply @amhed!

[2018-05-25 18:28] vs77bb commented on #189
@DaniGuardiola Snoozed Gitcoin Bot for 10 days, it can get overzealous at times. Thanks for your comments back 🚢

[2018-05-25 19:03] vs77bb commented on #203
Snoozed Gitcoin Bot for 5 days. @ricburton FYI all funders have the ability if Gitcoin Bot is getting too frisky 😄

[2018-05-25 22:51] jinchung commented on #166
https://github.com/balance-io/balance-manager/pull/245

[2018-05-26 04:05] amhed commented on #187
Came up with a simpler solution. Will push soon

[2018-05-26 05:06] amhed opened #246 "Dropdown menus shows unnecessary padding"
### What is this issue about? (select one)

* [X] Bug report
* [ ] Feature request
* [ ] Enhancement

### Issue Description

Dropdown menus shows unnecessary padding

![image](https://user-images.githubusercontent.com/579291/40572685-0e290d6c-6078-11e8-8bb3-d9a9b4de435a.png)

## Steps to reproduce

Running Chrome Version 66.0.3359.181 (Official Build) (64-bit) on OSX 10.13.4

[2018-05-26 05:31] amhed commented on #171
On second thought, since you haven't touched the unit tests branch in a few days, you mind if I add additional coverage so we have a baseline? I can start working on the `helpers` folder.

[2018-05-26 11:17] benjiqq commented on #242
do there exist standards/registers for whitelists? since symbol names have to be third party sources anyways, it makes sense that those sources are effective whitelists. the more notable attack is registering a name "ABC" for a token which has the name but did not register it yet. ZRX is well known, but there is no mechanism globally which matches ZRX to the token address without trusting a third

[2018-05-26 15:30] pedrouid commented on #246
I can't reproduce this in any of my branches? (tried `production`, `latest` and `shapeshift`)

[2018-05-26 15:40] pedrouid commented on #242
@benjyz Yes, that's true this is a huge issue, currently we are managing assets in Balance Manager (tokens and Ethereum) by their symbol, it's the simplest away to do it and most common as well.
However because we enable the user to view any token without shortlisting them, we have had issues specially with conflicting prices from cryptocompare with tokens with the same symbol/ticker.

@amhed  I d

[2018-05-26 15:46] pedrouid commented on #171
There are a lot of changes and refactoring happening right now, I'm not going to prioritise this until those come into effect

[2018-05-26 15:47] pedrouid commented on #238
@samelliott89 That would be great, if you find the time to have a crack on it, let me know if you bump into some quirks or weird parts of the codebase

[2018-05-26 16:32] amhed commented on #246
I'm getting it on production. Perhaps I'm running a Chrome Addon that's interfering with it

![image](https://user-images.githubusercontent.com/579291/40578358-5f3ed988-60d8-11e8-90e6-59c1c6614f1b.png)

[2018-05-26 17:16] pedrouid commented on #246
Inspect the page and see what css rule is causing it, you can probably tell which extension is doing it from that.

Also try to develop on Incognito mode by enabling Metamask

[2018-05-26 17:35] amhed commented on #242
Regarding the repo, I thought we already had that here:
https://github.com/balance-io/tokens/

I can take a swing at allowing the customer to show/hide tokens. How about:
- Adding an ellipsis icon on each row for the "assets" tab. Context menu has the hide option.
- Adding an "options" icon on top of the table and allow:
  - Hide all assets with value < x
  - Hide all dust (asset qty < 0.0000x)

[2018-05-26 17:49] pedrouid commented on #242
That repo simply has icons by contract address. It doesn't link names to contract addresses.

Feel free to take a swing at that though

[2018-05-26 18:05] amhed commented on #246
In incognito:
![image](https://user-images.githubusercontent.com/579291/40578912-5aeeaf52-60e2-11e8-8933-7e962948af7f.png)

Tried it on Windows. It renders scrolls. I think this can be easily fixed with `overflow: hidden` instead of scrolls (the list is short enough that we don't need it).

Still I'm curious why it would happen on my machine only, even with no plugins enabled/incognito 🤔

[2018-05-26 18:51] pedrouid commented on #246
That's very strange, I can't seem to replicate on my side.

However we should split the overflow for x and y because this component will be used around the app and it will have more than 5-6 items

[code]

[2018-05-26 20:51] amhed commented on #246
Set it to auto so it adds scrolls whenever the div grows too much

[2018-05-26 21:02] #246 closed, assigned to nobody

[2018-05-27 00:16] amhed commented on #187
This one is ready for another review

[2018-05-27 02:36] amhed commented on #242
Here's how I plan on tackling:

- Each row would show an additional icon on hover if you chose to hide the token:
![per-row](https://user-images.githubusercontent.com/579291/40581965-7bef955a-612c-11e8-8150-126ec4157dce.gif)

- The bottom link would change from "Hide x tokens with low/no market value" to "Hide/Show x Hidden tokens"

- We would hide the ones that have no/low market value like we do

[2018-05-27 02:37] amhed commented on #242
BTW, I got the SVGs for the icons from font-awesome. Is there any specific source we're getting our assets from? or are they being drawn in-house?

[2018-05-27 04:14] benjiqq opened #248 "Token curated registry"
quote from @pedrouid "PROPOSAL: What we REALLY need is to create Token Curated Registry, or a more pragmatic approach, a repository with matching token symbols/names to their contract addresses. This would solve two majors issues:

conflitcing prices with tokens of the same symbol/ticker
tokens trying to mimic or impersonate popular tokens (like @benjyz was mentioning)"

This is a big project curr

[2018-05-27 04:15] benjiqq commented on #242
@pedrouid I can do some work on the curated registry and created a new issue https://github.com/balance-io/balance-manager/issues/248

[2018-05-27 05:14] benjiqq commented on #248
Some argument against a "central register" are along the lines of anyone can choose who they trust and there shouldn't be a default. However a name resolution mechanism requires that it is global otherwise it is useless. This patterns applies broadly. A blockchain ledger pointing to any real world asset requires acceptance. If everyone on the Internet does not agree that "google.com" refers to Goo

[2018-05-27 14:15] pedrouid opened #251 "Failed Transaction didn't update pending transaction status"
### What is this issue about? (select one)

* [x] Bug report
* [ ] Feature request
* [ ] Enhancement

### Issue Description

Transaction fails but it's displayed as successful when the pending status is converted

## Steps to reproduce

1.  Send a transaction
2.  Transaction displays pending
3.  Transaction fails

### Expected Behavior

Transaction should display as failed

### Actual Behavior

Tr

[2018-05-27 14:17] pedrouid opened #252 "Pending token transfer displays NaN for token amount sent"
### What is this issue about? (select one)

* [x] Bug report
* [ ] Feature request
* [ ] Enhancement

### Issue Description

Whenever sending a token, the pending transaction displayed shows a NaN on the token amount sent

## Steps to reproduce

1.  Send a token
2.  View pending transaction

### Expected Behavior

Pending transaction should display token amount sent

### Actual Behavior

Pending t

[2018-05-27 16:43] zitterbewegung commented on #182
I am currently figuring out how to use the Trezor API to get data off of the device.

[2018-05-27 21:54] ricburton commented on #182
Thanks @zitterbewegung.

This will be high priority for the core team soon. Do you have a Trezor and Ledger? We really need to move on it.

[2018-05-27 23:23] zitterbewegung commented on #182
Sorry @ricburton I have removed myself from this ticket since I misread the part about needing a ledger .

[2018-05-28 00:47] StevenJNPearce commented on #182
@ricburton Nobody has a Trezor and a Ledger. It's an either or thing. If you want people to go out and buy a second hardware wallet for the purposes of this issue, then you will need to increase the funding to reflect that.

[2018-05-28 21:56] christianbaroni commented on #201
Another report:

![6c191958-0c4a-483a-92d9-4a90da123363](https://user-images.githubusercontent.com/7061887/40630390-bbcd5446-62a8-11e8-9ab7-200c5df14a11.png)

Oddly it looks like the ETH price is correct from CryptoCompare.

[2018-05-29 09:54] ricburton opened #255 "500 ERROR"
What causes this kind of error?
<img width="412" alt="screen shot 2018-05-29 at 10 53 59" src="https://user-images.githubusercontent.com/438160/40651872-b55fcacc-632e-11e8-8996-adcee0e82120.png">

[2018-05-29 13:36] ricburton opened #256 "💵 Allow people to donate tokens"
I want all the gifts. Even the shit ones.

[2018-05-29 13:59] kamescg commented on #256
Planning a "Token Toilet" project?

https://medium.com/@fgoldberg/hackathon-at-ethbuenosaires-updates-af66c84db798

[2018-05-29 15:04] ricburton commented on #256
Haha love it :)

Richard

Sent via Superhuman ( https://sprh.mn/?vip=richard@balance.io )

On Tue, May 29, 2018 at 14:59:55, KamesCG < notifications@github.com > wrote:

[2018-05-29 17:18] samelliott89 commented on #256
This should be a small change to the current Donate ETH flow.

[2018-05-30 09:55] DaniGuardiola commented on #203
I'm travelling, I'll get to work when I come back by the end of next week

[2018-05-31 23:38] amhed commented on #242
Hi guys, I know you're all working on a bunch of stuff at the same time. I have 2 PRs out, looking for some feedback on this one and for a possible merge on the spanish translation one before picking up on something else 🚀

[2018-06-01 00:28] ricburton commented on #242
Hi Amhed,

Thanks for your time! Pedro has been in Argentina for EthBA. We will get to this ASAP.

Richard

Sent via Superhuman ( https://sprh.mn/?vip=richard@balance.io )

On Thu, May 31, 2018 at 19:38:45, Amhed Herrera < notifications@github.com > wrote:

[2018-06-01 15:01] jinchung commented on #255
That's an internal service error from something on the server side.
Is this recurrent or do you know what the context was around it when it occurred? This issue may be resolved for now. I'll close this, and let us know if you see it again, and what you were doing at the time.

[2018-06-01 15:01] #255 closed, assigned to nobody

[2018-06-01 15:12] jinchung commented on #237
hi @samelliott89 - thanks for the report. If I understand you correctly, your last question may be related to this issue: https://github.com/balance-io/balance-manager/issues/252. If it's covered in there, I'll close this issue for now.

[2018-06-01 15:18] jinchung commented on #241
@pedrouid found that this was due to requesting shifts that don't make sense (like '0' or '0.') that occur when typing out and updating the input fields. The fix will be pushed soon, and I'll update here with the PR. Thanks for the report!

[2018-06-01 15:25] #223 closed, assigned to nobody

[2018-06-02 03:52] benjyz commented on #248
As I understand one goal of balance is to integrate various parts of the ethereum stack to make things easy and useable. In ethereum assets are really access to certain contract functions. Assets are defined by the contract code in terms of execution. On top of that there exist human readable terms or concepts, i.e. symbols. An asset definition is not the same as the asset itself. Asset definition

[2018-06-02 16:39] ricburton commented on #248
I love this overview. We are partnering with TheGraph.com ( http://thegraph.com/ ) to help us with some of this. They contacted me after reading this post: https://medium.com/balance-io/open-protocol-interfaces-b1e631e41777

Richard

Sent via Superhuman ( https://sprh.mn/?vip=richard@balance.io )

On Fri, Jun 01, 2018 at 23:52:38, benjyz < notifications@github.com > wrote:

[2018-06-02 16:53] linki commented on #160
+1

For reference: It's currently hard-coded here: https://github.com/balance-io/balance-manager/blob/0.5.4/src/handlers/ledger-eth.js#L15

[2018-06-04 01:09] ricburton commented on #195
I would like to get a really rough prototype of this working as soon as possible.

It would recreate much of Dharma's Plex: https://plex.dharma.io/

Discussion here: https://spectrum.chat/balance?thread=ffe545e8-46cb-45f8-a444-a5bf7d67df41

[2018-06-04 01:54] ricburton commented on #195
*Additional Details*
- Join us on Spectrum to continue the conversation: https://spectrum.chat/balance?thread=ffe545e8-46cb-45f8-a444-a5bf7d67df41
- Please comment below with a details plan of action to make this possible.
- Please do not work this ticket unless you are able to dedicate significant hours towards this project starting *this week*

*Definition of Done*
- Designs are based off of des

[2018-06-04 21:15] cooganb commented on #195
@ricburton What's the status of this? Have you found someone to do the entire project?

[2018-06-04 23:01] ricburton commented on #182
This has taken far too long. Cancel the bounty. We are going to put $3k on this.

[2018-06-05 01:59] amhed commented on #195
I think each of the tabs should be its own issue (collateralised, token based, share based, and bloom).

I would start with the simplest possible loan. Using collateralised loans as the only option within the loans tab. Why? because:
- Bloom has only released bloom ID creation + attestation for phone number. Bloom ID score not yet available to use for loans.
- Unique Token loans can be added after

[2018-06-05 02:07] amhed commented on #195
I only listed screens. We don't need to write the API, we can use dharma.js and pass the transactions to the handlers for signing on the wallet being used

[2018-06-05 03:46] travisdmathis commented on #195
The agreements are for MVP of Collateralized Loans using Dharma. What we see in the screens and the associated views.

- [x] UX/UI For Collateralized Loans
- [x] Dharma.js Integration

[2018-06-05 07:08] StevenJNPearce commented on #182
3k makes this quite an attractive proposition. I've just ordered the Trezor, express delivery. I'm starting work on the issue now.

[2018-06-05 11:37] ricburton commented on #195
@amhed I totally agree. This project is just for the MVP with collateralised loans. @nadavhollander and the team at Dharma are hard at work on the other parts :)

[2018-06-05 12:21] ricburton commented on #240
Devin Finzer of Open Sea suggested we use this:

https://docs.opensea.io/v1.0/reference?showHidden=06ea4

[2018-06-05 12:21] ricburton commented on #240
https://twitter.com/dfinzer

[2018-06-05 12:33] ricburton commented on #240
![loan options uniques](https://user-images.githubusercontent.com/438160/40976106-115c8358-689b-11e8-872d-1006e5a99ce9.png)

[2018-06-05 14:39] ricburton commented on #187
@amhed please can you "submit work" on Gitcoin

[2018-06-05 14:57] amhed commented on #187
Ahh this is the first time I use it and didnt know had to do that. Will
checl as soon as I'm back to my laptop
On Tue, Jun 5, 2018 at 9:39 AM Richard Burton <notifications@github.com>
wrote:

[2018-06-05 14:58] ricburton commented on #187
No worries! I’m new to it too.
On 5 Jun 2018, 10:57 -0400, Amhed Herrera <notifications@github.com>, wrote:

[2018-06-05 15:51] amhed commented on #187
Done!

On Tue, Jun 5, 2018 at 9:58 AM Richard Burton <notifications@github.com>
wrote:

[2018-06-05 20:22] StevenJNPearce commented on #240
I tried out the opensea API, it doesn't appear to be working, I guess it needs an API key? This issue would only be a couple of hours work for me, would be happy to pick it up.

[2018-06-06 00:51] albedo-039 commented on #182
Getting hardware wallets support is a pretty easy task if approached naively. Be careful.

[2018-06-06 10:48] #63 closed

[2018-06-06 10:53] ricburton commented on #240
Hi @jesseRWeigel,

I approved you for this task as I really appreciated the tone of your application and the fact that you used GitCoin to apply 👍

I have asked the CEO of OpenSea.io for the API key.

Please can you DM me on Twitter so we can add you to our private slack: http://twitter.com/ricburton

[2018-06-06 11:43] ricburton commented on #240
Someone has actually started working on this issue. He is about to post questions.

Gitcoin is a learning process! I think we are going to set a policy from now on:

All communication on GitHub.
All applications on GitCoin.

Please do not work on a paid issue if you are not accepted on GitCoin.

[2018-06-06 11:45] palevoo commented on #240
what happens onclick View button, does it open up a cryptokitten website for the relative cat
what happens when hovered over kitty card and onclick, also what info does the first line renders apart from id
is there some layout available like on figma or something, thank you very much

[2018-06-06 11:50] StevenJNPearce commented on #182
@ricburton Can you invite me to your slack? stevenjnpearce at gmail.com

I will have the trezor wallet in a few hours.

[2018-06-06 12:32] ricburton commented on #240
**what happens onclick View button, does it open up a cryptokitten website for the relative cat**
Opens the OpenSea.io link. For example: https://opensea.io/assets/0xf7a6e15dfd5cdd9ef12711bd757a9b6021abf643/8030

**what happens when hovered over kitty card and onclick, also what info does the first line renders apart from id**
Can you explain this in more detail? I was just imagining the View link

[2018-06-06 13:17] palevoo commented on #240
ok, thanks, will be ready in couple of hours

[2018-06-06 14:00] travisdmathis commented on #195
Day 1 Update: Finished UX/UI of Main View, Day 2 plans are to get as much of the remaining UX/UI in place so the rest of the time is spent w/ Dharma.. There may be 1 or 2 more days after today of UX/UI depending how things go.

![bm](https://user-images.githubusercontent.com/1335198/41042668-3b042988-6970-11e8-9e89-de3e777f022c.png)

[2018-06-06 14:52] ricburton commented on #195
This is amazing progress. Thank you!

Richard

On Wed, Jun 06, 2018 at 10:00:07, Travis Mathis < notifications@github.com > wrote:

[2018-06-06 14:54] ricburton commented on #240
I cannot wait to see my kittie!

Richard

On Wed, Jun 06, 2018 at 09:17:25, Nikita Kudryavtsev < notifications@github.com > wrote:

[2018-06-06 14:54] ricburton commented on #182
Yep!

Richard

On Wed, Jun 06, 2018 at 07:50:52, StevenJNPearce < notifications@github.com > wrote:

[2018-06-06 16:31] ricburton commented on #214
I think a good V1 here is to add data from https://trivial.co

Here is the API: http://telegra.ph/API-draft-06-06

[2018-06-06 16:47] ricburton commented on #214
I also think adding this data set in would be great: https://github.com/MyEtherWallet/ethereum-lists/blob/master/tokens/tokens-eth.json

[code]

[2018-06-06 19:06] vs77bb commented on #203
Hi @DaniGuardiola we haven't heard from you in a while, are you still working this ticket? We have removed your 'Start Work' as it's been a week and we need to get this moving.

@iRyusa, perhaps you wouldn't mind clicking 'Start Work' and finishing the work you started? If you are interested.

[2018-06-06 21:16] ricburton commented on #197
One of our crowdfunders, https://twitter.com/ikoniaris, is looking into this for us.

[2018-06-06 21:24] ricburton opened #261 "🇮🇹 Italian Translations"
We would love to make sure our Italian customers are well served.

[2018-06-06 21:50] calchulus commented on #240
Also can't wait!! This is sick!

[2018-06-07 06:53] ashchan commented on #182
@ricburton This is actually quite straightforward. For the start, I think just getting the default address (`m/44'/60'/0'/0/0`, which is used by many wallets but not ledger) is enough, by either fetching that address, or exporting the xpub. The tx signing is also as simple as exporting xpub.

Trezor Connect is supposed to be used as a normal HTML script source, but it's also possible to just downl

[2018-06-07 17:40] palevoo commented on #240
everything is ready, https://github.com/decentfund/balance-manager/tree/cryptokitties but before we close the pull request, if everything is ok of course, could @ricburton move the corresponding gitcoin ticket on me @palevoo, as I would like to start gaining some rep on the platform, thanks man!

OpenSea API, doesn's show erc721 (kitty tokens) your put on market/sale, since it doesn't see them as

[2018-06-07 18:07] calchulus commented on #240
wooo! can't wait to screenshot with my awesome cryptokitties

On Thu, Jun 7, 2018 12:40 PM, Nikita Kudryavtsev notifications@github.com
wrote:
everything is ready,
https://github.com/decentfund/balance-manager/tree/cryptokitties  but before we
close the pull request, if everything is ok of course, could @ricburton  move
the corresponding gitcoin ticket on me @palevoo, as I would like to start
gain

[2018-06-07 19:40] ricburton commented on #240
I don't currently see my kittie, spoop, popping up.

https://opensea.io/assets/0x06012c8cf97bead5deae237070f9587f8e7a266d/17753

<img width="2403" alt="screen shot 2018-06-07 at 15 38 40" src="https://user-images.githubusercontent.com/438160/41122229-e36f7962-6a68-11e8-9f5d-e2fdc6019ae9.png">

A separate issue, we should fall back to english when we don't have a translation.

<img width="820" alt=

[2018-06-07 19:41] ricburton opened #263 "🗣 Fall back to English when there is no translation"
<img width="820" alt="screen shot 2018-06-07 at 15 37 50" src="https://user-images.githubusercontent.com/438160/41122327-2ed613f2-6a69-11e8-8575-8763ba605186.png">

The Unique Tokens tab doesn't have a Spanish translation yet.

[2018-06-07 19:46] alexanderatallah commented on #240
@ricburton I made an API key for you to make sure you don't get excessively rate-limited in the future - sent it to you in a twitter DM. It needs to be sent as the value of an HTTP header called "X_API_KEY"

To address this issue,

I'll fix this now so assets you're selling will show up too!

[2018-06-07 19:51] ricburton opened #264 "🗣 Add language selector to wallet connection page"
The language selector should show up on the wallet connection page

<img width="259" alt="screen shot 2018-06-07 at 15 49 58" src="https://user-images.githubusercontent.com/438160/41122742-8035c94e-6a6a-11e8-9f56-1268ae358030.png">

[2018-06-07 19:52] ricburton opened #265 "📱 Expose the WalletConnect option"
We should show this in the user interface now so people can start learning about the WalletConnect project.

@pedrouid What do you think?

[2018-06-07 20:15] ricburton commented on #240
Thanks @alexanderatallah!

@palevoo, @jinchung and I need to think about the smart way to manage keys and help our open source contributors use them but not have access to them.

For now, I'll get in contact with you privately to give you the key 👍

[2018-06-07 20:37] palevoo commented on #240
Pull request submitted
@ricburton for the calls to the openSea api from localhost you would need some form of cors i use chrome extension Allow-Control-Allow-Origin otherwise it blocks it.

[2018-06-07 20:43] ricburton commented on #240
Spoop is in the house! This is great :)

Adding you to our company slack so we can share the API key and think about best way forward.

Richard

On Thu, Jun 07, 2018 at 16:37:24, Nikita Kudryavtsev < notifications@github.com > wrote:

[2018-06-07 20:43] ricburton commented on #240
Can you DM me on Twitter? twitter.com/ricburton ( http://twitter.com/ricburton )

Richard

On Thu, Jun 07, 2018 at 16:42:07, Richard Burton < richard@balance.io > wrote:

[2018-06-07 21:17] alexanderatallah commented on #240
@palevoo we've been whitelisting domains on a case-by-case basis while the API is in beta, but I just pushed a change to open up CORS access to anyone, so it should work now. sorry about that!

@ricburton FYI the API key is gonna be visible in the network logs and in your source code, so safeguarding it isn't a necessity, it's just a deterrent. I just didn't wanna share it here to prevent Google f

[2018-06-07 22:46] nadavhollander commented on #195
@travisdmathis Hell ya!  This looks awesome.  If you're looking to integrate w/ dharma.js, I'd start looking at docs.dharma.io

Our documentation is lacking (we're overhauling it in the coming month, I promise!) but, in the meanwhile, we can invite you into our developer slack so you have 24/7 access to us if you have questions at all.  I'll send an invite to your public email :)

[2018-06-08 00:08] jinchung opened #267 "Incoming and outgoing pending transactions for Shapeshift"
### What is this issue about? (select one)

* [ ] Bug report
* [ ] Feature request
* [x] Enhancement

### Issue Description
Want to see the pending motion for outgoing and incoming transactions related to a Shapeshift trade. This includes getting the necessary transaction details when they become available.

[2018-06-08 00:09] jinchung commented on #267
PR: https://github.com/balance-io/balance-manager/pull/268

[2018-06-08 00:09] #267 closed, assigned to nobody

[2018-06-08 00:20] travisdmathis commented on #195
@nadavhollander i got the invite, will be diving into dharma tomorrow afternoon pending i finish the rest of UX/UI tonight/tomorrow.. thanks!

[2018-06-08 00:42] nadavhollander commented on #195
Sweet!

On Thu, Jun 7, 2018 at 5:20 PM Travis Mathis <notifications@github.com>
wrote:

[2018-06-08 10:34] DaniGuardiola commented on #189
Why was I removed from this issue (as well as the other one)? I finally have time this week, but I've been removed in gitcoin. What is the issue?

[2018-06-08 11:36] mfolkeseth commented on #214
Cryptocompare seems to have a neat and open API for getting news https://min-api.cryptocompare.com/

[2018-06-08 12:26] ricburton commented on #189
So sorry David we need to get better at communicating the speed we like to move. For paid issues, we do not have time to wait around. We need to partner with people who are incredibly fast and available.

[2018-06-08 14:31] DaniGuardiola commented on #189
That makes sense.

I would advise setting shorter deadlines in Gitcoin then. One of the main reasons I picked these two issues was that the deadlines where generous, which is a requirement as I'm quite (and unpredictably) busy with my main project, some events, trips, etc.

From now on I will make sure to pick up issues from this project only when I can block time to finish it promptly. Sorry if I

[2018-06-08 14:54] mfolkeseth commented on #214
Trivial changed their endpoint today. New docs https://docs.google.com/document/d/1ytiXg2XmNbAqK12ne5-Of104qP55d3F-TpNs1K5Vyzg/edit

[2018-06-08 20:52] pedrouid commented on #265
We can do, there is still a tricky part in terms of the session expiration.
@jinchung Maybe don't persist the session on localstorage for now

[2018-06-09 00:46] StevenJNPearce commented on #182
It is done:

https://github.com/balance-io/balance-manager/pull/270

[2018-06-09 17:21] abstractpoint commented on #263
Fixed in PR #272

[2018-06-09 18:05] abstractpoint commented on #78
How can I reproduce this error? Does this still need fixing?

[2018-06-09 18:43] ricburton commented on #240
Jesse has moved on to another issue.

Please assign this to @palevoo.

Richard

Sent via Superhuman ( https://sprh.mn/?vip=richard@balance.io )

On Sat, Jun 09, 2018 at 12:15:17, Gitcoin.co Bot < notifications@github.com > wrote:

[2018-06-09 19:09] abstractpoint commented on #264
Added the selector, but also re-arranged the order of elements so that language is always last, that way it is in the same position when going from view to view. PR #273

![screen shot 2018-06-09 at 20 04 51](https://user-images.githubusercontent.com/3032975/41195156-5b087f56-6c20-11e8-831e-6db71dea90ff.png)
![screen shot 2018-06-09 at 20 03 52](https://user-images.githubusercontent.com/3032975/41

[2018-06-09 19:11] ricburton commented on #264
@abstractpoint that's a really nice touch

Thank you!

[2018-06-09 19:38] abstractpoint opened #274 "🇷🇺 Russian Translations"
### What is this issue about? (select one)

* [ ] Bug report
* [ ] Feature request
* [x] Enhancement

[2018-06-09 19:40] abstractpoint opened #275 "🇵🇹 Portuguese Translations"
### What is this issue about? (select one)
* [x] Enhancement

[2018-06-09 19:41] abstractpoint opened #276 "🇧🇷 Brazilian Translations"
### What is this issue about? (select one)
* [x] Enhancement

[2018-06-09 21:30] ricburton commented on #214
Thanks @mfolkeseth. Excited to play with this.

[2018-06-09 22:05] ricburton commented on #189
@DaniGuardiola Absolutely.

We are still learning about @gitcoinbot and open source development in general.

If you have any other feedback, please do let me know :)

[2018-06-10 03:58] arku commented on #238
@pedrouid I would love to help with the refactor!

What do you think of breaking the refactoring task into a bunch of small focused issues on each of @samelliott89 's points?

[2018-06-10 07:04] ricburton commented on #238
@pedrouid is focusing on WalletConnect.org.

@jinchung and I are here for this. We are currently laser focused on Shipping Exchange v1 with ShapeShift then we’d love to give this refactor the attention it deserves.
On 9 Jun 2018, 23:58 -0400, Arun Kumar <notifications@github.com>, wrote:

[2018-06-10 14:03] vs77bb commented on #240
:+1: @palevoo Would you mind clicking 'Start Work' on Gitcoin [here](https://gitcoin.co/issue/balance-io/balance-manager/240/571)?

By the looks of it, you can also 'Submit Work' thereafter, referencing your PR. If you need some initial gas to make this submission, check out the [Gitcoin Faucet](gitcoin.co/faucet). 🙂

[2018-06-10 14:09] amhed commented on #219
Does this mean storing the last tab that was active so that when I reload it shows the same tab as my previous session?

[2018-06-10 15:29] palevoo commented on #240
@vs77bb there is no such option/button  as 'Start Work'

[2018-06-11 08:58] Polej commented on #214
Hi,

I'm from Trivial and we're thinking quite seriously about expanding token balance information with data from our API ( https://docs.google.com/document/d/1ytiXg2XmNbAqK12ne5-Of104qP55d3F-TpNs1K5Vyzg/edit ).

Firstly we would like to add the simplest token data, e.g. our token description.

Is it ok for me to (try to :) ) do it or maybe you have your own idea how to do it?

[2018-06-11 09:33] gokulkrishh commented on #203
@vs77bb @DaniGuardiola Can I start working on this ?? or shall I wait for the other guy to reply for your  previous Q?

[2018-06-11 10:23] iRyusa commented on #203
I’m in holiday for now so I’m back in 1 week, as you want :)

[2018-06-11 10:50] mfolkeseth commented on #221
I have a some accessibility experience and would love to help out with this.

[2018-06-11 11:37] DaniGuardiola commented on #203
@gokulkrishh yes, sorry, I talked about this issue somewhere else. No problem.

[2018-06-11 11:39] gokulkrishh commented on #203
This PR #280 has the above requested changes.

[2018-06-11 11:41] gokulkrishh commented on #203
@DaniGuardiola I have created a [PR](https://github.com/balance-io/balance-manager/pull/280) for the above the asked changes. See if everything is alright or let me know if there are any changes I should do. I am kind of new to the gitcoin :)

[2018-06-11 12:23] DaniGuardiola commented on #203
@gokulkrishh I'm not the owner of the issue, you might want to at @ricburton instead :)

[2018-06-11 13:00] gokulkrishh commented on #203
@DaniGuardiola Sure thanks. @ricburton I am done with feature requested above. Let me know if its all good.

[2018-06-11 17:33] mfolkeseth commented on #214
Hi @Polej ,

Thanks for reaching out!

I'm sorry, but I'm not quite sure what you mean. Can you elaborate? You are already have a lot if information in your api, including token description.

EDIT: Ah, were you thinking about taking on this task?

[2018-06-11 17:41] Polej commented on #214
I meant to modify the code of Balance Manager to load the data from the API. Both backend and frontend. But then I found out you already done it. Great! 👍

Is the issue with setting proxy connected with CORS (Cross-Origin-Resource-Sharing), AJAX-ing the data from another host?

[2018-06-11 17:59] mfolkeseth commented on #214
That is correct, or, we needed to create a proxy to solve the problem below.
`Failed to load https://trivial.co/api/tokeninformation?token_address=0xf230b790e05390fc8295f4d3f60332c93bed42e2: The 'Access-Control-Allow-Origin' header has a value 'http://localhost:8080' that is not equal to the supplied origin. Origin 'https://localhost:3000' is therefore not allowed access.`

[2018-06-11 18:00] Polej commented on #214
I'll fix it

[2018-06-11 18:22] mfolkeseth commented on #214
Thanks a lot!

By the way. I find your price chart and daily active users very neat. Any chance of exposing those data? And also. You also have a lot of other useful info on trivial.co like more than 2 news, discussions. Do you plan on expanding the public API in the future?

[2018-06-11 18:57] #261 closed, assigned to nobody

[2018-06-11 19:18] leoosa commented on #274
https://github.com/balance-io/balance-manager/pull/281

[2018-06-11 19:19] Polej commented on #214
I think it should be fixed now. Not 100% sure, please test it :)

For this data I need to discuss with my team, I'll respond tomorrow. I think it is highly possible to share this data :)

[2018-06-11 19:20] ricburton opened #282 "🇵🇱 Polish"
Polacy są świetni!

[2018-06-11 19:21] ricburton opened #283 "🇯🇵 Japanese"
日本人は素晴らしいです！

[2018-06-11 19:22] ricburton opened #284 "🇰🇷 Korean"
한국 사람들은 위대합니다!

👸🏼@jinchung

[2018-06-11 19:53] abstractpoint commented on #275
Working on this one now 👍

[2018-06-11 19:53] abstractpoint commented on #276
Working on this one now 👍

[2018-06-12 02:03] michelgotta commented on #189
Work started on this branch
https://github.com/michelgotta/balance-manager/tree/send-all-tokens-of-value

[2018-06-12 07:31] mfolkeseth commented on #214
Like a charm :) Thanks @Polej!
You can follow the update on #269

[2018-06-12 10:09] kwikiel commented on #282
I will take this task :D  Give me few days to provide translated json

[2018-06-12 15:17] ricburton opened #285 "🦊 Add a link and video explaining metamask"
When it is not installed

<img width="968" alt="screen shot 2018-06-12 at 11 16 32" src="https://user-images.githubusercontent.com/438160/41299739-1ed9c17a-6e32-11e8-82b0-5b9577999d83.png">

[2018-06-12 15:21] ricburton commented on #285
<img width="569" alt="screen shot 2018-06-12 at 11 20 59" src="https://user-images.githubusercontent.com/438160/41300012-b9615e56-6e32-11e8-80bc-ca185332d1a2.png">

Also a link here would be great.

[2018-06-12 15:30] ricburton commented on #265
Let's start with a simple explanation. That should get people curious to learn more about @walletconnect.

<img width="1048" alt="screen shot 2018-06-12 at 11 13 57" src="https://user-images.githubusercontent.com/438160/41300513-e90aefd6-6e33-11e8-811f-62355c96c1ee.png">

[2018-06-12 15:33] ricburton opened #286 "🔗Add a link to Etherscan next to the Ethereum address"
<img width="476" alt="screen shot 2018-06-12 at 11 32 37" src="https://user-images.githubusercontent.com/438160/41300712-65ccaa78-6e34-11e8-9f86-489d16e1a87d.png">

I just wanted to pop out to Etherscan quickly. I had to cut and paste.

[2018-06-12 15:34] alokpant commented on #285
Hey @ricburton, I am looking for first issues. Can I pick this up?

[2018-06-12 15:37] ricburton commented on #285
Absolutely! The video link is on MetaMask.io
On 12 Jun 2018, 11:35 -0400, mindl3ss <notifications@github.com>, wrote:

[2018-06-12 15:59] ricburton opened #287 "🍥 Integrating Coral"
Coral Protocol is really interesting: https://heycoral.com/

I want to open this issue to explore what an integration might look like and start playing with designs.

[2018-06-12 18:12] tomjohnburton opened #288 "Icon Bug"
### What is this issue about? (select one)

* [x] Bug report
* [ ] Feature request
* [ ] Enhancement

### Issue Description

This could look a little better. Appeared while looking at the website through chrome on windows computer.
![35077171_10156414245177974_2717479435140857856_n](https://user-images.githubusercontent.com/39559415/41308664-82085602-6e74-11e8-9b27-a350215d112d.png)

[2018-06-12 18:26] ricburton commented on #288
Want to try and fix this with @Samellenrider?

👍

[2018-06-12 18:54] tomjohnburton commented on #288
Sure, where do I start?

[2018-06-12 23:06] ricburton commented on #282
Amazing thanks!
On 12 Jun 2018, 06:09 -0400, Kacper Wikieł <notifications@github.com>, wrote:

[2018-06-12 23:07] ricburton commented on #214
Can you post screenshots? I’m on mobile and eager to see it 🤗
On 12 Jun 2018, 03:31 -0400, Martin Folkeseth <notifications@github.com>, wrote:

[2018-06-12 23:07] ricburton commented on #189
🔥💯🤜🤛
On 11 Jun 2018, 22:03 -0400, Michel Gotta <notifications@github.com>, wrote:

[2018-06-12 23:07] ricburton commented on #276
Thanks George! True value add investor :)
On 11 Jun 2018, 15:53 -0400, George T <notifications@github.com>, wrote:

[2018-06-12 23:08] ricburton commented on #275
Portuguese @pedrouid thanks thee :)
On 11 Jun 2018, 15:53 -0400, George T <notifications@github.com>, wrote:

[2018-06-13 06:27] mfolkeseth commented on #214
![screen shot 2018-06-13 at 08 26 07](https://user-images.githubusercontent.com/7047431/41333850-8f233040-6ee3-11e8-9eb3-3216a347b02a.png)

[2018-06-13 06:28] mfolkeseth commented on #214
Try one of your tokens at: https://deploy-preview-269--balance-manager.netlify.com/metamask

![screen shot 2018-06-13 at 08 27 58](https://user-images.githubusercontent.com/7047431/41333894-bfc01e7a-6ee3-11e8-8e79-5272d5791953.png)

[2018-06-13 11:13] Polej commented on #214
@mfolkeseth

Yes we may expand API in the nearest future, probably even this week.
It's nice to see first use in such short time.

What data do you need?
1. Price chart data
2. Daily active users chart data
3. More news (how much?)
4. Discussions (how much?)
Maybe anything else?

I'm trying to group all the requests in one place and find out what to add in the next iteration.

[2018-06-13 12:02] mfolkeseth commented on #214
Maybe you can weigh in here @ricburton ? If we are going to have discussions and more news, it would be useful to have pagination.

[2018-06-13 13:24] michelgotta commented on #189
@ricburton Things I need to clarify:
- ETH should be transferred, too. ETH should be the last transfer because we need the ETH to pay for the transfers.
- User can preselect one transaction speed (gas) for all transactions. Assumed transaction price is summed up on the bottom of the modal
- Main target is, wallet should be completely empty after all transactions went through

[2018-06-13 13:26] ricburton commented on #189
Great questions. I hadn’t thought about this. Need to ponder.

What do you think makes sense?

[2018-06-13 14:53] ricburton opened #289 "🔏 Supporting EIP 712 for signing clarity"
This is amazing. We need to think about how to support this: https://eips.ethereum.org/EIPS/eip-712

[2018-06-13 15:31] ricburton commented on #214
This is a great start! Today is a launch day so we're busy with that. Will think on all this more.

Thanks for all your hard work :)

Richard

Sent via Superhuman ( https://sprh.mn/?vip=richard@balance.io )

On Wed, Jun 13, 2018 at 08:02:23, Martin Folkeseth < notifications@github.com > wrote:

[2018-06-13 16:21] mfolkeseth commented on #214
@Polej, by the way. Any chance this API can return similar information about ethereum itself?

[2018-06-13 16:30] #240 closed, assigned to nobody

[2018-06-13 20:43] abstractpoint commented on #274
Thank you, nicely done.

[2018-06-13 20:43] #274 closed, assigned to nobody

[2018-06-13 21:07] abstractpoint commented on #276
@ricburton No prob, I'm keen to do more if not for being a bit busy at the moment.. getting married in a few days!! 😊😁

[2018-06-14 01:08] ricburton commented on #276
Congratulations! 🧖🏾‍♂️🧖🏼‍♀️
On 13 Jun 2018, 17:08 -0400, George T <notifications@github.com>, wrote:

[2018-06-14 15:06] ricburton opened #291 "📱Mobile bug fixes"
We should make Manager work really well on Trust and imToken. The exchange functionality is great.

We could change the connection page SJW. We detect mobile viewing with A dapp browser.

[2018-06-14 17:57] Polej commented on #214
@mfolkeseth We are currently working on ethereum data.

[2018-06-15 10:08] Polej commented on #214
At this moment our API has been a bit updated (to give results for ETH), but we don't collect much data about it yet.

Ethereum data is accessible here: (token_address=eth or ETH)
https://trivial.co/api/tokeninformation?token_address=eth

Many of the API fields are nulled now, we will gradually add them.

The reason to post this small API change is to give you, @mfolkeseth a possibility to update

[2018-06-15 12:08] igorline commented on #240
Getting CORS error in production

[2018-06-15 12:12] ricburton commented on #240
Ugh. This API is so bad. @jinrummie?

Can you show logs?
On 15 Jun 2018, 08:08 -0400, Igor Line <notifications@github.com>, wrote:

[2018-06-15 12:29] mfolkeseth commented on #214
Really great stuff! I will try to make some changes to the build over the weekend to include ETH.

The cause of the crash was due in a proxy which was not included in the build. Will fix that also. I’ll let you know once I make the changes. Thanks!

[2018-06-15 13:58] mfolkeseth commented on #214
@ricburton how about using the same toggle function as transactions? I like it!

[2018-06-15 15:44] samelliott89 commented on #256
P.S. I'll take this once #257 is merged.

[2018-06-15 16:25] samelliott89 commented on #237
@jinchung yes you can close.

[2018-06-15 17:34] mikedemarais commented on #189
@ricburton what if instead of being in the `send` modal, this feature was in settings and was labeled / described more as `exporting` your wallet balances?

[2018-06-15 18:47] michelgotta commented on #189
@mikedemarais can you please describe in detail where these settings are

[2018-06-15 18:54] michelgotta commented on #189
At this time there is only one pattern on the interface to transfer coins. Initial description: generate a bunch of transaction for all tokens with transferring max amount to save hundreds of clicks.

[2018-06-16 00:39] ricburton commented on #285
<img width="609" alt="screen shot 2018-06-15 at 20 38 21" src="https://user-images.githubusercontent.com/438160/41494042-1d6b626a-70dc-11e8-90f1-0e41311e95fa.png">

Adding the fox and explanation here too would be good.

[2018-06-16 12:05] ricburton opened #300 "🛠 Explain Browser Issues"
When a desktop safari user goes to manager.balance.io they should learn why they cannot use our app.

Until we have @walletconnect from @pedrouid ⚔️

[2018-06-16 12:45] ricburton opened #301 "🇻🇳 Vietnamese"
😇

[2018-06-16 17:15] ricburton opened #302 "💌 Add email signup to the product"

[2018-06-16 17:15] ricburton commented on #302
Reassure people it won’t be linked to ETH address or account.

[2018-06-17 02:48] ricburton opened #303 "🇷🇴 Romanian"
Wonderful people.

[2018-06-17 23:32] ricburton opened #304 "🇫🇷French"
Bon!

[2018-06-18 08:23] ricburton opened #305 "🌚 Dark pool trading with republic protocol"
https://twitter.com/republicorg/status/1008572932803588097?s=21

Could be a great integration.

[2018-06-18 10:03] ricburton opened #306 "📟 Full Ledger Support"
Expose all of the tokens they support.

https://support.ledgerwallet.com/hc/en-us/categories/115000811829-APPLICATIONS-GUIDES

Add warnings for shitcoins like Bitcoin Gold, Bitcoin Private and Ripple.

[2018-06-18 10:04] ricburton opened #307 "📟 Full Trezor Support"
Add support for all the coins.

https://trezor.io/coins/

Add warnings for the shitcoins.

[2018-06-18 10:40] jetpack3331 opened #309 "cs Czech"
Add czech language translates.

[2018-06-18 11:36] Polej commented on #214
Hello, a little update:
**Trivial.co** now shares **price chart** and **daily active users chart data** for tokens (as seen on our token page, for example here https://trivial.co/t/0xf230b790e05390fc8295f4d3f60332c93bed42e2 )

**Price chart data** is accessible at **/api/token-price-chart** with GET parameter **token_address** (address of token smart contract on Ethereum network):
Example:
https:/

[2018-06-18 11:46] igorline commented on #240
@ricburton, here  it is
![balance_io_cors](https://user-images.githubusercontent.com/1465430/41534207-fdabcc52-72fd-11e8-8f29-32c357d69bcb.jpg)

[2018-06-18 21:38] ricburton commented on #240
Thanks Igor. It seems to work now live?

Richard

Sent via Superhuman ( https://sprh.mn/?vip=richard@balance.io )

On Mon, Jun 18, 2018 at 4:46 AM, Igor Line < notifications@github.com > wrote:

[2018-06-18 21:39] ricburton commented on #214
Damn this is cool.

Cannot wait to integrate this more deeply.

Richard

Sent via Superhuman ( https://sprh.mn/?vip=richard@balance.io )

On Mon, Jun 18, 2018 at 4:36 AM, Polej < notifications@github.com > wrote:

[2018-06-18 22:08] ricburton commented on #219
That would be cool.

Richard

Sent via Superhuman ( https://sprh.mn/?vip=richard@balance.io )

On Sun, Jun 10, 2018 at 7:09 AM, Amhed Herrera < notifications@github.com > wrote:

[2018-06-18 22:11] igorline commented on #240
@ricburton the issue is related to firefox, it displays my unique tokens in chrome

[2018-06-18 22:51] mfolkeseth commented on #214
A little later than anticipated but the new integration is here #311.

Will update daily active users and price charts to the pull request soon. Real nice work @Polej!

[2018-06-18 22:53] ricburton commented on #214
Out right now but stoked to see this.

Any screenshots? :)
On 18 Jun 2018, 18:51 -0400, Martin Folkeseth <notifications@github.com>, wrote:

[2018-06-18 23:28] ricburton commented on #195
Information on linking Balance and Bloqboard:

You can send it to our API:
for kovan testnet: https://kovan-api.bloqboard.com/swagger/
for mainnet: https://api.bloqboard.com/swagger/

POST /api/v0/Debts is the right endpoint

just don’t forget to adapt an order to the relayer format before posting:
https://github.com/confirmationlabs/dharma-example/blob/master/relayer-adapter.js

Thanks @frostiq

[2018-06-19 04:50] mfolkeseth commented on #214
The build went trough on the PR, so the preview is up if you wanna look around. Here is a screenshot. My plan is to add the price charts on to the right.

<img width="872" alt="screen shot 2018-06-19 at 00 43 42" src="https://user-images.githubusercontent.com/7047431/41577389-dd6e9548-738c-11e8-97a1-38644b4baf6b.png">

[2018-06-19 06:53] mbhc13 opened #312 "Blocknet Xrouter Integration"
### What is this issue about? (select one)

* [ ] Bug report
* [x] Feature request
* [ ] Enhancement

### Description
Blocknet Xrouter allows dApps to utilize their network of servicenodes (that run full nodes of bitcoin and various altcoins) to validate balances and transactions and any other data stored on any compatible blockchain. To a multiwallet such as Balance this means that adding compati

[2018-06-19 08:02] PierrickGT commented on #304
I can help on that one!
Is there any JSON file or spreadsheet where I could start the translation?

[2018-06-19 10:03] ricburton commented on #304
Thanks Pierre!

Can you hop in the forum here?

https://spectrum.chat/thread/96247666-5578-418b-b557-2501895240a0

There is another community member who’s kindly offered to do this.

You can see how Russian was done here:

https://github.com/balance-io/balance-manager/pull/281/commits/be6e1f3312237e52f819f038fb19eee04fc9d8ad

I will write up a guide as soon as I can :)
On 19 Jun 2018, 04:02 -0400,

[2018-06-19 10:03] Polej commented on #214
Amazing, looks brilliant @mfolkeseth ! <3

[2018-06-19 10:06] ricburton commented on #214
This is fantastic! Thank you so much to both of you.

Cannot wait to play around with this :)
On 19 Jun 2018, 06:03 -0400, Polej <notifications@github.com>, wrote:

[2018-06-19 11:08] mfolkeseth commented on #214
Added some graphs for active users and price via recharts.

Some feedback @Polej. I see that the price charts endpoint returns empty array for tokens that have no data, whereas `eth` gets null value. I think it would be beneficial to return the same value for the same result to avoid unexpected behaviour and unnecessary checks.

Also, would it be possible to have price charts and active users as i

[2018-06-19 11:18] ricburton commented on #214
This is absolutely incredible! Amazing work. ❤️

We need a warning for TRON though. 🤓
On 19 Jun 2018, 07:08 -0400, Martin Folkeseth <notifications@github.com>, wrote:

[2018-06-19 11:39] PierrickGT commented on #304
Thank you for the example.
I can create a `src/languages/_french.json` with the French translation in the coming days.

[2018-06-19 15:58] Polej commented on #214
@mfolkeseth Thanks for the work! And thanks for the feedback. I'll take your hints into consideration, not sure how quickly though :) Putting it on high priority.

About price chart/DAU chart data inside **/tokeninformation/** :
Current design is motivated by the fact that not everyone using API will need all the data. However your argument is very important, doing everything in one request may be

[2018-06-19 17:06] mfolkeseth commented on #214
@Polej yes, my thoughts exactly. I just didn't explain it very well 😃 Let's go with that 👍

I totally agree with your initial design about not sending too data over the wire unnecessarily. That's an approach I personally embrace, in all API's, especially in our case where the client requests the API directly.

Thanks again for being so on to this. It has made the integration way smoother and pleas

[2018-06-19 19:43] TigerW1998 commented on #304
Hi,

I've just completed the translation and I believe I've done the Github part of it correctly. Please let me know if something is awry, I would appreciate any feedback. Thank you to PierrickGT for offering to help, I appreciate it !

Best,

T.

[2018-06-19 21:14] Polej commented on #214
Ok, now there are 3 new GET parameters:

**price_chart_data** - setting it to 1 or True or true gives non-null field 'price_by_day' with price chart data (just like in /api/token-price-chart/), when default the field 'price_by_day' is null

**dau_chart_data** - setting it to 1 or True or true gives non-null field 'daily_active_by_day' with daily active users (DAU) chart data (just like in /api/dai

[2018-06-19 21:38] ricburton commented on #214
Thanks @Polej. This is going to be great.

Are you working on highlighting the disastrous projects like EOS? We are happy to do that.

[2018-06-19 22:56] PierrickGT commented on #304
I've made some comment in your PR in order to add the French language to the dropdown menu.
Here is the link to the PR for reference : https://github.com/balance-io/balance-manager/pull/313

[2018-06-20 01:57] ricburton commented on #214
This thread is amazing: https://twitter.com/blockchainjoy/status/1009136079096541184

Some highlights:

![](https://pbs.twimg.com/media/DgEssoxVQAAYQH5.jpg)

![](https://pbs.twimg.com/media/DgEu_I0VMAAJHUo.jpg)

[2018-06-20 10:02] Polej commented on #214
@ricburton We don’t plan to add this at the moment, however we’re planning implementation of commenting box, where people can add comments like this one, and this will come alive pretty soon.

And to both of you @ricburton and @mfolkeseth , would it be possible to place a link to our token site "For more information visit Trivial.co", just like this one?

<img width="965" alt="screen shot 2018-06-

[2018-06-20 12:42] PierrickGT commented on #304
@TigerW1998 I've taken your translation and created a PR in which I've included your translation and fixed the different lint errors.

[2018-06-20 14:41] ricburton commented on #214
I would love to expose the data source. I think this is great.

Richard

Sent via Superhuman ( https://sprh.mn/?vip=richard@balance.io )

On Wed, Jun 20, 2018 at 06:02:07, Polej < notifications@github.com > wrote:

[2018-06-20 16:19] mfolkeseth commented on #214
@Polej of cource :) what is the address of that image? Maybe it’s better for you to have it on your side, rather than that every consumer app implements their own? If you want them to look similar I mean. Although it’s totally up to you 👍

[2018-06-20 16:42] mfolkeseth commented on #214
@ricburton I’m keen to hear your thoughts or goal on how sophisticated the token info graphs should be.

[2018-06-20 19:48] ricburton commented on #214
@mfolkeseth I will keep thinking on this. I am not 100% sure at the moment. Just love seeing this different data. So handy.

@christianbaroni any thoughts here?

[2018-06-21 01:10] ricburton opened #316 "🍃 Bloom Integration"
First idea: add your wallet address to your BloomID

https://bloom.co/docs/contracts/accounts#add-address-to-account

[2018-06-21 06:52] alokpant commented on #285
@ricburton Sorry for delay. I will look into this during weekend and post a fix.

[2018-06-21 12:21] Polej commented on #214
@mfolkeseth
The image button path is https://trivial.co/static/for_more_info.png
It should link to https://trivial.co/t/<token_ethereum_address>
API gives this URL in a field "token_page", or you can construct it from "address" (token eth address)

The image will probably (slightly) change, we need to work on it a bit more.

[2018-06-21 15:35] timoUK opened #318 "Auto Refresh"
### What is this issue about? (select one)

* [x] Enhancement

### Issue Description

Would be good if Manager auto-refreshed, I have to refresh it to see new transactions. Could be done by automatically refreshing when a button or tab is clicked.

[2018-06-22 06:55] wolffan opened #319 "Sending with QR code locks me out"
### What is this issue about? (select one)

* [ ] Bug report

### Issue Description
After tapping on a QR when sending there will be an overlay saying "Failed to scan QR code, please try again" over the "X" (closing) button. This will prevent me from closing the screen (on desktop)

## Steps to reproduce

1.  Log in into balance manager Desktop (in Chrome)
2.  Tap "Send"
3.  Tap on the QR icon
4.

[2018-06-22 15:09] mfolkeseth commented on #214
@Polej alright, so I've updated the api route to `/api/token-information`. No need to keep it deprecated, for us at least 😄 I have also replaced three requests to use just one, with include parameters instead.

As for the more visual changes, I've also added the data source link to trivial.co.

You can view the last build here: https://deploy-preview-311--balance-manager.netlify.com

***Big screen

[2018-06-22 15:46] Polej commented on #214
@mfolkeseth Very good! Our need of linking to our site is satisfied :) Also good to hear about API use changes.

Amazing work!

[2018-06-22 18:34] ricburton opened #321 "🏦 Support Compound.finance"
Savings: https://compound.finance/

[2018-06-22 18:36] ricburton commented on #321
How can we get this ball rolling? What makes sense?

[2018-06-22 19:27] wbobeirne opened #322 "Convert wallet implementations to classes"
### What is this issue about? (select one)

* [ ] Bug report
* [ ] Feature request
* [x] Enhancement

### Issue Description

The TREZOR and Ledger implementations share almost all of their code, and the other wallet implementations also have a lot of redundancy with only minor differences between. Right now, there's a _ton_ of code that looks like:

[code]

See https://github.com/balance-io/balanc

[2018-06-22 19:39] ricburton commented on #214
This is awesome! Amazing work. 

@jinchung is back on Monday <3

Richard

Sent via Superhuman ( https://sprh.mn/?vip=richard@balance.io )

On Fri, Jun 22, 2018 at 11:46:49, Polej < notifications@github.com > wrote:

[2018-06-22 19:44] ricburton opened #323 "Handle longer tokens 4+ characters"
"Sign up now for the OCEAN token airdrop" got me thinking. We should handle these larger tokens nicely in the UI and apps.

https://theocean.trade/

[2018-06-22 19:45] ricburton commented on #319
Thanks Raimon :)

Richard

Sent via Superhuman ( https://sprh.mn/?vip=richard@balance.io )

On Fri, Jun 22, 2018 at 02:56:08, Raimon Lapuente < notifications@github.com > wrote:

[2018-06-22 19:54] ricburton commented on #285
No worries at all!

Richard

Sent via Superhuman ( https://sprh.mn/?vip=richard@balance.io )

On Thu, Jun 21, 2018 at 02:52:33, mindl3ss < notifications@github.com > wrote:

[2018-06-22 22:14] hayesgm commented on #321
@ricburton We're going to put together a quick ABI specification and one-pager describing how the protocol works with a test-net address. Happy to help hash out exactly how the flow will work within balance. CC @torreyatcitty

[2018-06-24 15:19] ricburton commented on #321
Excited 🤩
On 22 Jun 2018, 18:15 -0400, Geoff Hayes <notifications@github.com>, wrote:

[2018-06-24 17:23] ricburton opened #326 "📈Balance over time"
I would love a graph on transactions tab showing how the balance changed over time due to sending and price fluctuation. Hard to do.

[2018-06-24 17:24] ricburton commented on #326
A Waterfall chart might be the best: https://en.wikipedia.org/wiki/Waterfall_chart

24h | 1m | 3m | 6m | 1y

[2018-06-25 17:16] mikedemarais opened #327 "Add "Venezuelan Bolivar Libre" exchange rate 🇻🇪"
### What is this issue about? (select one)

* [ ] Bug report
* [x] Feature request
* [ ] Enhancement

### Issue Description
Would be cool if we added the `Venezuelan Bolivar Libre` exchange rate, which is the one determined by free market, not the one imposed by the Government.

API for fetching the `$ETHVEF` / `$BTCVEF` exchange rate can be found here:
http://api.bitcoinvenezuela.com/

Feature re

[2018-06-25 17:33] kwikiel opened #328 "Error: intrinsic gas too low"
### What is this issue about? (select one)

* [*] Bug report

### Issue Description

Error: Error: [ethjs-rpc] rpc error with payload { // snipped for breivity "method":"eth_sendRawTransaction"} Error: intrinsic gas too low

### Expected Behavior

Well - sometimes I really want to send transaction with low gas fee - I don't want to overpay if that can be avoided

[2018-06-26 19:46] #309 closed, assigned to nobody

[2018-06-26 19:46] jinchung commented on #309
I'll create a new issue regarding the hour/hours issue you brought up.

[2018-06-26 19:47] jinchung opened #329 "Fix translations for languages where hour/hours are different for different numbers"
### What is this issue about? (select one)

* [ ] Bug report
* [ ] Feature request
* [x] Enhancement

### Issue Description
From @jetpack3331L:
We have for 1 hour "1 hodina", for 2,3,4 hours "2,3,4 hodiny" and for 5 and more hours "5 hodin"
Moment.js solve this problem.

[2018-06-26 20:01] PierrickGT commented on #304
@ricburton this issue can be closed now

[2018-06-26 20:47] #304 closed, assigned to nobody

[2018-06-26 22:53] ricburton opened #331 "🌈 Set Protocol Integration"
Allowing people to buy, sell, see and create Sets would be useful and a source of revenue. Lots to think about here.

[2018-06-27 09:19] kwikiel commented on #204
AFAIK https://airswap.io/ is already doing that - and it seems easiest to integrate.  One is creating request to buy/sell specific coins and the liquidity providers are specific offering terms

[2018-06-27 11:59] jetpack3331 commented on #309
Thx @jinchung

[2018-06-27 21:37] adnfx2 commented on #187
I just saw this in Bounty Networks is this done? Have a nice day everyone !

[2018-06-27 23:22] torreyatcitty commented on #321
Hi @ricburton. We've put together a little integration guide describing the important parts of the protocol we think your team might need. You can access it here: [Integration Guide](https://docs.google.com/document/d/1LxfaUAjRLALKo8ENfmKhlL3JXarI25vQs_jS74QYPr4/)

The MoneyMarket is the primary smart contract you will interface with and the guide contains the current Rinkeby address the MoneyMark

[2018-06-27 23:46] amhed commented on #187
This was done/merged. I think there was a bug on gitcoin and it never closed

[2018-06-29 13:35] ricburton commented on #321
Fantastic. Excited for this. 💰

Richard

Sent via Superhuman ( https://sprh.mn/?vip=richard@balance.io )

On Wed, Jun 27, 2018 at 16:22:20, torreyatcitty < notifications@github.com > wrote:

[2018-06-29 13:36] ricburton commented on #204
It is not aggregating multiple exchanges which have different liquidity options.

Richard

Sent via Superhuman ( https://sprh.mn/?vip=richard@balance.io )

On Wed, Jun 27, 2018 at 02:20:08, Kacper Wikieł < notifications@github.com > wrote:

[2018-06-29 13:41] ricburton opened #332 "🏦 Explore adding support for Ripio"
https://github.com/ripio/rcn-network

[2018-06-29 16:08] ricburton opened #333 "📟 KeepKey Support"
I really like the full screen on KeepKey.

I know they have big plans for a V2. We should add support at some point:

https://github.com/keepkey/device-client

[2018-07-01 03:22] kwikiel commented on #204
I've actually did some research on AirSwap and IMHO it's much more superior than other solutions:

There are two ways to facilitate a trade:
- orderbook + relayers
- broker

<img width="517" alt="screen shot 2018-07-01 at 05 16 24" src="https://user-images.githubusercontent.com/5274399/42130744-f57327ac-7ced-11e8-8832-75a655c51c6c.png">

So AirSwap works much better than 0x or ShapeShift for Balan

[2018-07-01 23:20] ricburton commented on #204
I would love to hear what @haydenadams thinks about these options.

We are definitely keen on Airswap.

[2018-07-03 03:24] IvanBoutin opened #334 "Cannot use more than 5 address when I use ledger"
### What is this issue about? (select one)

* [ X] Bug report
* [] Feature request
* [X ] Enhancement

### Issue Description

When i use balance manager with a Ledger, i cannot use more than the first five addresses. It's problematic for me, because I use more than five addresses with my ledger, so I can't see all my ether and my tokens. it's a problem with a lot of Dapp using ledger, so i don't i

[2018-07-03 11:14] Polej commented on #214
Hey @mfolkeseth, I've discovered bug when clicking on ETH, it looks the same as before: black screen.

@ricburton How much possible is deploying these features to master (after fixing this bug)? :)

[2018-07-03 13:11] mfolkeseth commented on #214
@Polej thanks for the report. I'll look into it this evening. Cheers.

[2018-07-03 19:21] mfolkeseth commented on #214
@Polej Turns out the reason why Ethereum crashed the app in this particular case was that there was no check whether the news object had source or not. Turns out some of them are `null` :) So I added a check for that and the app is working just fine.

One question tho; what's up with the date formats? I saw that the graphs and news have separate date formats (number for graphs and some other strin

[2018-07-03 19:26] mfolkeseth commented on #329
Would it be a good idea to consider some other date library other than Moment.js? Moment.js is common.js based which will add up to 650kb to your bundle(!!) (un-uglified).

Just replaced Moment.js with date-fns in #311  and it works quite well. It is es6 modules based and thus enables tree shaking. Small bundles 🎉

[2018-07-04 16:55] ricburton opened #335 "🔐 Security & reassurance information"
A few people have mentioned that they find the simplicity a little scary.

What will happen if I connect Ledger?
Does this store my private key?

Just because *we* know that it is impossible for Manager to access their funds or their private key, it does not mean people feel comfortable.

I view this as a real problem of trust and I am going to focus on this issue immediately.

[2018-07-04 21:06] kwikiel commented on #328
Found reason why It didn't worked - I've tried to send tokens that are locked

[2018-07-04 21:06] #328 closed, assigned to nobody

[2018-07-05 22:23] ricburton opened #337 "📟 Check if a hardware wallet is disconnected"
I disconnected a Ledger and realised that the interface did not change because of that. I think it should update with a bar at the top to make it clear that device is disconnected.

[2018-07-06 09:26] vs77bb commented on #203
@ricburton Have you been able to review work here and potentially pay out if the work is complete? I know FCoin makes on-chain transactions a bit of extra fun right now 🙄🙂

[2018-07-06 09:43] ricburton commented on #203
So sorry I believe we cannot ship this at the moment. The design and execution here does not quite feel right. We will revisit it asap.

Richard

On Fri, Jul 06, 2018 at 05:26:58, Vivek Singh < notifications@github.com > wrote:

[2018-07-06 12:27] ricburton opened #338 "🖲 Add Binance token"
This is now available on Shapeshift https://twitter.com/shapeshift_io/status/1014129889191055360?s=21

[2018-07-07 03:56] jdkanani commented on #318
Use bulk request to refresh transactions/token balances. One way to do this - use wrapper on top of the provider which queue transactions and sends them at the certain interval.

That way new devs don't have to worry about intervals etc. One wrapper will handle internally all of those things.

[2018-07-07 15:59] jinchung commented on #338
Currently, BNB not available in the US. If it does become available, it'll now show up automatically for us.

[2018-07-07 15:59] #338 closed, assigned to jinchung

[2018-07-09 15:52] ricburton commented on #318
@jdkanani I like this a lot. We definitely have work to do here.

[2018-07-10 20:06] ricburton commented on #334
We have had several complaints about this now. Let's get this one fixed ASAP.

[2018-07-11 03:06] haydenadams opened #339 "Price feed pulls from token symbol not address"
### What is this issue about? (select one)

* [x] Bug report
* [ ] Feature request
* [x] Enhancement

### Issue Description

Token prices are based off symbol not address. I launched a fake version of BAT, minted myself 10,000,000 and balance manager thinks I have $2,600,000 .

### Steps to reproduce

1. Deploy ERC20 contract to Mainnet with same symbol as popular ERC20
2. Give yourself tokens.
3.

[2018-07-11 15:17] ricburton opened #340 "👾 Try Rainforest’s Quality Assurance service"
Garry Tan backed it therefore it must be worth a look.

[2018-07-11 16:36] ricburton commented on #185
We now have an API key. Switching out the data provider would be great.

@jinchung our login details and API key are in the Software & Licenses store.

[2018-07-11 17:08] ricburton opened #341 "💩Remove $BNT from Exchange"
It is a terrible token.

https://techcrunch.com/2018/07/10/bancor-loses-23-5m/

[2018-07-11 17:09] ricburton opened #342 "⚠️ Warn people about the cost of small trades"
This was a UX tester's experience:

https://beta.bounties.network/bounty/v1/727

[2018-07-11 17:44] ricburton opened #343 "⛽️ Advanced GAS options"
Thank you, great app glad i have found it! 1 additional thing: add an option to manually set gas price and limit and hide it under “advanced” field, like they did it in MyCrypto

[2018-07-11 21:57] ricburton opened #344 "⏱ Handle EthGasStation timing error better"
<img width="481" alt="screen shot 2018-07-11 at 17 56 36" src="https://user-images.githubusercontent.com/438160/42601508-d4e361a2-8533-11e8-8028-653a72ac3e78.png">

~0 looks silly

[2018-07-11 23:22] jinchung commented on #334
Hotfix for 20 addresses for now; will do a proper fix for fetching all the used up addresses later

[2018-07-11 23:22] #334 closed, assigned to ricburton, jinchung

[2018-07-12 15:29] ricburton commented on #343
Explain GAS better: https://twitter.com/thegrifft/status/1017424060794490881

[2018-07-12 15:33] ricburton commented on #343
<img width="647" alt="screen shot 2018-07-12 at 11 32 43" src="https://user-images.githubusercontent.com/438160/42643519-53f5c9d8-85c7-11e8-9a53-9aa49a6709ac.png">

Love this on GitCoin

[2018-07-12 15:52] ricburton commented on #343
![dh16k-yuyaazeik](https://user-images.githubusercontent.com/438160/42644575-f535cc74-85c9-11e8-892e-f958c7d0d6d0.jpg)

Good work here

https://twitter.com/ricburton/status/1017375655695212544?s=19

https://imiumi.wixsite.com/fuel/documentation

[2018-07-12 18:36] ricburton commented on #341
Shapeshift did it for us.

[2018-07-12 18:36] #341 closed, assigned to nobody

[2018-07-12 21:39] ricburton opened #348 "💬 Language fixing tool"
When I change the English or add new things I want to run a script to try and help me and our community spot the gaps in our translations.

[2018-07-12 21:53] #264 closed, assigned to nobody

[2018-07-12 21:55] ricburton commented on #348
Firstly we should add Google translate for missing translations.

It would be cool if the UI highlights when the translation has been done by Google Translate and people can submit a suggested change _right inside the UI_.

[2018-07-13 01:01] ricburton opened #349 "💵 USD overlaps with token code"
<img width="87" alt="screen shot 2018-07-12 at 21 00 55" src="https://user-images.githubusercontent.com/438160/42667023-b540ffd8-8616-11e8-8466-ecd4d924075d.png">

A little UI bug here.

[2018-07-13 06:03] octavioamu commented on #318
Could be something like this? Is the behavior really to reload the page (cmd+r but with a button)?
![image](https://user-images.githubusercontent.com/1358093/42675161-33961ff8-8649-11e8-98da-c05838891429.png)

[2018-07-13 07:11] jdkanani commented on #318
I was referring to refresh txs/token balances auto-magically when new transaction detected on given account on the blockchain. To me `CMD + R` (asked non-tech friend too) is more intuitive than "Reload" button. But @ricburton would be best person to take this call.

[2018-07-13 13:52] octavioamu commented on #318
Ok, the thing with CMD is because is only Mac OS based.
Also maybe can be without a word, only icon.

[2018-07-13 14:13] ricburton commented on #318
Great point on the Command + option. We should adapt that for Windows and Linux. Will create an issue.

Richard

On Fri, Jul 13, 2018 at 09:52:53, Octavio Amuchástegui < notifications@github.com > wrote:

[2018-07-13 14:14] ricburton opened #350 "📑 Bookmark instructions for Windows, Linux & ChromeOS"
Right now the text applies to people with Macs. Not everyone has a mac.

[2018-07-13 14:14] ricburton commented on #318
Created: https://github.com/balance-io/balance-manager/issues/350

Richard

On Fri, Jul 13, 2018 at 10:13:24, Richard Burton < richard@balance.io > wrote:

[2018-07-13 14:28] octavioamu commented on #318
I had changed the icon to be similar to the one in the browser and changed to "refresh"
![image](https://user-images.githubusercontent.com/1358093/42696824-bb699e3c-868f-11e8-88d3-1b03b0f91c92.png)

[2018-07-13 14:32] ricburton commented on #318
So we don't really want a button so much as the app itself to be live and refreshed.

I am not sure on the best way to approach this. Just wanted to attract minds to the problem using Gitcoin.

@jinchung will chime in here when she has time.

Richard

On Fri, Jul 13, 2018 at 10:29:00, Octavio Amuchástegui < notifications@github.com > wrote:

[2018-07-13 14:35] ricburton commented on #343
@christianbaroni & @jinchung, @hbeckeri got in touch on Twitter and would like to work on this issue with me. I will add him to our #contributors Slack channel.

[2018-07-13 14:35] ricburton commented on #349
@hbeckeri is keen to fix this!

Working with 4- or 5-letter tokens would be good, too.

[2018-07-13 14:46] octavioamu commented on #318
Ok I will do a WIP PR with the last one.

[2018-07-13 17:09] octavioamu commented on #318
I had added translations too using google translation I only can really affirm my languages (Spanish, Portuguese BR)

[2018-07-13 17:16] ricburton commented on #318
I think there has been some miscommunication here. Sorry!

We need a *fresh* app. Not a refresh button.

Richard

On Fri, Jul 13, 2018 at 13:09:02, Octavio Amuchástegui < notifications@github.com > wrote:

[2018-07-13 17:25] octavioamu commented on #318
Can you please explain more what the task is? Maybe some example, is not a reload button? and when clicked the page reloads?

[2018-07-13 20:19] octavioamu commented on #318
Trying to understand what the task request I think is:
WHAT
"As a user, I need to be able to have recent transitions of my wallet without having to refresh the windows app"
HOW
"every time I change the route of the app (transition to another area)  the main data need to be fetched again go have the new data"

That's right??

[2018-07-13 23:05] octavioamu commented on #318
I will let it go this one since I don't want to avoid other people to lose the opportunity to solve the issue. If I discover what you guys exactly want and isn't solved I can take it again.

[2018-07-13 23:13] ricburton commented on #318
Sorry about the hassle here
On 13 Jul 2018, 19:05 -0400, Octavio Amuchástegui <notifications@github.com>, wrote:

[2018-07-14 01:22] ricburton commented on #318
Not super urgent! Just keen for smart people to take a look :)

Richard

On Fri, Jul 13, 2018 at 21:06:42, Gitcoin.co Bot < notifications@github.com > wrote:

[2018-07-14 03:05] SamSamskies commented on #318
How do you do test transactions for Trezor and Ledger? I'm working on Metamask first since I know how to use Rinkeby testnet with that.

[2018-07-14 03:07] ricburton commented on #318
We can do that. We have the hardware.
On 13 Jul 2018, 23:05 -0400, SamSamskies <notifications@github.com>, wrote:

[2018-07-14 03:08] SamSamskies commented on #318
How can I test that my code works as I develop though? Should I just work on Metamask for this ticket?

[2018-07-14 04:26] SamSamskies commented on #318
I got it updating when clicking anywhere on the page. Seems kind of arbitrary, but so does refreshing when clicking on the tabs or buttons. How bout I just refresh the account info on an interval? Maybe every second?

[2018-07-14 18:14] #182 closed

[2018-07-14 18:16] #82 closed

[2018-07-14 18:24] ricburton commented on #184
@dekz from @0xProject has offered to guide us as we get this done.

@palevoo is keen to have a crack at implementing this.

[2018-07-14 18:33] ricburton commented on #184
@palevoo we have a call scheduled with @dekz on Tuesday at 21:00 ET. Would that work for you?

[2018-07-16 01:14] dekz commented on #184
For some context and a starting point, [here is the spec](https://0xproject.quip.com/0aGwANaqXIYT) we wrote up for wallets implementing exchange functionality with 0x.

Some initial plans would help steer the direction. Mostly whether your users want a simplified or advanced exchange experience. These are walked through in the spec doc, and have various trade offs. The next open question is where

[2018-07-16 02:29] ricburton commented on #184
Got it. Will check this out first thing tomorrow.
On 15 Jul 2018, 21:14 -0400, Jacob Evans <notifications@github.com>, wrote:

[2018-07-16 12:18] ricburton commented on #318
I think I have done a really bad job of explaining this issue.

We don't want the app to randomly reload. We want the data to be fresh. The page should be updating naturally, not in forced way.

Sorry everyone. I will go over it with the team.

Richard

On Sat, Jul 14, 2018 at 00:26:12, SamSamskies < notifications@github.com > wrote:

[2018-07-16 12:57] ricburton commented on #343
Great post: https://media.consensys.net/ethereum-gas-fuel-and-fees-3333e17fe1dc

I want to help @owocki and the @gitcoinco crew in their efforts to educate people about GAS.

[2018-07-16 16:51] SamSamskies commented on #318
That's what I ended up doing if you take a look at the code I submitted. It refreshes the account data every second. It doesn't reload the page. Maybe I'm still misunderstanding though. Including more detailed descriptions in the issue along with pictures will help.

[2018-07-17 05:48] StevenJNPearce commented on #318
@SamSamskies It doesn't make any sense to refresh data every second when block times are every ~15 seconds.

[2018-07-17 06:48] SamSamskies commented on #318
It would help to make a suggestion along with criticism. I figured that refreshing every second is a bit much, but I just wanted to get some code in to get the discussion started. Especially since I didn't know if this was the desired behavior which apparently it is not.

I'm going to release this so someone else can work on it. Good luck with the project.

[2018-07-17 22:35] ricburton commented on #318
Apologies everyone. We are heads down on Wallet and this is something I
thought would be quick and easy.

We will review this properly ASAP.

Maintaining and monetising open source is a new thing for all of us.

On Tue, Jul 17, 2018 at 2:48 AM, SamSamskies <notifications@github.com>
wrote:

--
Richard

[2018-07-17 23:56] tluthra opened #354 "🎁Add Elph Provider"
### What is this issue about? (select one)

* [ ] Bug report
* [X] Feature request
* [ ] Enhancement

### Issue Description

[Elph](https://elph.com) has a fully client-side Web3 compatible SDK that allows users to login / register with elph and immediately get a wallet instead of having to download any software, or buy any hardware.

[2018-07-17 23:57] tluthra commented on #354
https://github.com/balance-io/balance-manager/pull/355

[2018-07-18 08:28] tluthra commented on #318
took a stab at adding a block subscriber and adding refresh, let me know if this was more aligned with what everybody had in mind

https://github.com/balance-io/balance-manager/pull/356

[2018-07-18 20:53] #354 closed, assigned to nobody

[2018-07-18 22:28] rahulrumalla opened #357 "Balance Manager Widget with iFrame support"
# Feature overview
Make Balance Manager compatible with iFrames so that the wallet can be _embedded_ into other sites as _widgets_.

# Why?
Almost every web app that's working with web 3 will have to produce something that's very similar to what Balance has already done. This is growing is a full fledged wallet with some very interesting capabilities. Instead of re-inventing the wheel, embedding a

[2018-07-19 11:21] ricburton commented on #357
Thanks for the suggestion! This is a huge security issue so we will not be doing this. However, we will be making Balance work on a variety of screen sizes.

[2018-07-19 11:21] #357 closed, assigned to nobody

[2018-07-19 20:02] ricburton opened #358 "🏦 Recurse Center Loans"
![rc-loans](https://user-images.githubusercontent.com/438160/42966727-1d48d948-8b6c-11e8-98ef-02a701d70775.png)

Idea for student loans running on Dharma.

Authenticate future students using Recurse Center OAuth API:
https://github.com/recursecenter/blaggregator/blob/master/home/oauth.py

Allow them to borrow $DAI from the student loan pool.

Give them address and interface to pay back what they o

[2018-07-19 22:09] ricburton commented on #358
From Nick:

https://www.recurse.com/settings/general#github

[2018-07-23 23:25] ricburton opened #361 "Icons are white in Safari"
<img width="420" alt="screen shot 2018-07-23 at 19 24 52" src="https://user-images.githubusercontent.com/438160/43108093-1faed576-8eae-11e8-9cbc-cd7ecfeb281d.png">

Tiny UI bug

[2018-07-23 23:48] ricburton opened #362 "WalletConnect text clipped in Safari"
<img width="277" alt="screen shot 2018-07-23 at 19 47 45" src="https://user-images.githubusercontent.com/438160/43108731-5037a094-8eb1-11e8-8c68-22a3d63ac458.png">

[2018-07-23 23:51] ricburton commented on #300
![walletconnect-safari copy](https://user-images.githubusercontent.com/438160/43108810-b11ee462-8eb1-11e8-90ef-2e5e72a4038f.png)

[2018-07-23 23:51] ricburton commented on #300
We should make the homepage of Manager update dynamically in each browser.

On mobile we should explain what is possible and what is not.

For example, people on mobile could be directed to Trust Wallet.

[2018-07-24 00:07] ricburton commented on #300
https://brave.com/brave-branding-assets/
https://design.firefox.com/photon/visuals/product-identity-assets.html
http://brand.opera.com/brandbook/identity-guidelines
https://worldvectorlogo.com/logo/google-chrome-1

[2018-07-24 01:26] ricburton commented on #335
![education](https://user-images.githubusercontent.com/438160/43111387-04a9b94c-8ebf-11e8-9ae4-d4a644a6d37e.png)

I think this is a good quick fix.

[2018-07-24 01:27] ricburton opened #363 "🔙 Add a [Back to balance.io] button"
<img width="907" alt="screen shot 2018-07-23 at 21 27 16" src="https://user-images.githubusercontent.com/438160/43111422-311f3e84-8ebf-11e8-97f8-5ba287818d01.png">

I have seen people click around out of curiosity and then get lost.

[2018-07-24 01:41] ricburton commented on #300
Trezor supports Firefox: https://doc.satoshilabs.com/trezor-faq/overview.html

[2018-07-24 01:46] ricburton commented on #300
Interesting discussion about Ledger: https://ethereum.stackexchange.com/questions/36395/how-to-use-the-ledger-nano-s-hardware-wallet-without-installing-chrome

[2018-07-24 01:46] ricburton commented on #300
Some exposed Ledger Trello board: https://trello.com/c/mf0aFgDK/28-chrome-applications-end-of-life

Open source product roadmap?

[2018-07-24 23:58] ricburton opened #364 "Capitalise MetaMask & WalletConnect"
<img width="126" alt="screen shot 2018-07-24 at 19 56 15" src="https://user-images.githubusercontent.com/438160/43172132-d11ff934-8f7b-11e8-98fc-e630e1bf88bc.png">

This is more fiddly than you would think 🤓

[2018-07-25 19:17] ricburton commented on #300
Wow. Google pulled MetaMask.

https://twitter.com/brave/status/1022193448739196928
https://twitter.com/Balance_io/status/1022136288668016641

What in the actual hell.

Let's update our UI ASAP.

[2018-07-26 02:00] ligi opened #368 "WalletConnect: QR-Code changes"
### What is this issue about? (select one)

* [x] Bug report
* [ ] Feature request
* [ ] Enhancement

### Issue Description

The sessionId and shared key change every 60 seconds

## Steps to reproduce

1.  open balance manager
2.  click WalletConnect
3.  wait 60s

### Expected Behavior

The sessionId and sharedKey should stay stable

### Actual Behavior

the sessionId and sharedKey change every 60

[2018-07-26 08:23] ricburton commented on #185
Nomics looks promising.

https://p.nomics.com/cryptocurrency-bitcoin-api/

[2018-07-26 11:45] ligi opened #369 "Receive QR-Code should use ERC-681"
### What is this issue about? (select one)

* [ ] Bug report
* [x] Feature request
* [x] Enhancement

### Issue Description

the QR-Code for receiving should be ERC-681: https://eips.ethereum.org/EIPS/eip-681 to improve UX

## Steps to reproduce

1.  click receive
see:
![selection_101](https://user-images.githubusercontent.com/111600/43260500-fbfc9e64-90d9-11e8-8707-2a1b4f7caf9b.png)

### Expected

[2018-07-26 14:19] ligi opened #370 "Wallet connect barcode to big on mobile"
### What is this issue about? (select one)

* [X] Bug report
* [ ] Feature request
* [ ] Enhancement

![image](https://user-images.githubusercontent.com/111600/43267952-a58577de-90ef-11e8-97a2-9c7bfa273dd4.png)

[2018-07-26 14:48] utxo-detective commented on #364
@ricburton Saw my other PR was merged. I'd like to work on this issue

[2018-07-26 14:53] ricburton opened #371 "📲 Lots of responsive UI tweaks"
<img width="512" alt="screen shot 2018-07-26 at 10 52 04" src="https://user-images.githubusercontent.com/438160/43269989-083a54c2-90c2-11e8-8807-d75fa6004187.png">

There are lots of interface overlaps and bugs that we should tighten up to make this really great on mobile.

Then, even if people are using a dapp browser like Trust or imToken, they can make traders on Balance’s user interface.

[2018-07-26 15:02] ricburton commented on #300
Google re-instate MetaMask. Phew!

Here is another pass at the education section.

![education copy](https://user-images.githubusercontent.com/438160/43270542-501ce1dc-90c3-11e8-928a-9fd569ea7cf7.png)

[2018-07-26 15:22] jinchung opened #372 "Shapeshift exchange: make sure minimum checks balance of input amount"
This may exist already for send

[2018-07-26 16:57] ricburton commented on #370
Meta 😂
On 26 Jul 2018, 10:19 -0400, ligi <notifications@github.com>, wrote:

[2018-07-26 22:46] ricburton opened #373 "Sending fiat text box is broken"
Unable to type in the fiat text box.

[2018-07-26 22:54] ricburton commented on #369
Can you expand a little more on what you would like to see here?

Richard

On Thu, Jul 26, 2018 at 07:45:07, ligi < notifications@github.com > wrote:

[2018-07-26 22:59] ligi commented on #369
currently the QR code contains the raw hex address - but it would be better if it gets context via erc 681. So e.g. on android the intent system can be leveraged. Basically here just ethereum: has to be prefixed to the address.

[2018-07-26 23:00] ricburton commented on #369
Ah I see. This is related to the other issue.

Richard

On Thu, Jul 26, 2018 at 18:59:08, ligi < notifications@github.com > wrote:

[2018-07-27 14:57] ligi opened #376 "redundancy in tx request"
I get gas / gasLimit and gasPrice

`{"data":{"from":"0x381e247bef0ebc21b6611786c665dd5514dcc31f","to":"0x069237ba4b742961031defc1d46fd6f11b289d77","nonce":"0x2","gasPrice":"0xb2d05e00","gasLimit":"0x5208","gas":"0x5208","value":"0x7708b5456640c00","data":"0x"}`

gas == gasLimit  - so I think gas can be dropped.

this might be an upstream problem of one of the walletconnect projects - but as I am n

[2018-07-28 22:25] ricburton opened #377 "Better explain shapeshift’s new York ban"
In the modal it should be clearer

[2018-07-30 16:25] ligi opened #379 "Network Error when using privacy badger"
I can only use the balance manager with firefox or brave - getting network error with chromium all the time:
![image](https://user-images.githubusercontent.com/111600/43410034-d8a66d2e-9425-11e8-840b-77401a3b2675.png)

[2018-07-30 16:40] ricburton commented on #379
@jinchung says it looks like it's related to cryptocompare

[2018-07-30 16:42] ricburton commented on #379
Given that it's working in other browsers, could it be related to an extension you have in Chrome @ligi?

[2018-07-30 16:46] ligi commented on #379
this is possible - let me check.

[2018-07-30 16:48] ligi commented on #379
yes - it is the privacy badger - so you should be able to reproduce the problem when installing: https://www.eff.org/privacybadger

[2018-07-30 16:49] ricburton commented on #379
Thanks @ligi. Given our customer base, we should detect for that and explain why we need access to this API.

That would be better than it just failing with Network Error.

[2018-07-30 16:52] ligi commented on #379
Or better contact cryptocompare to fix the problem. You can use API's with privacy badger - but somehow it detects this api-usage as problematic.

[2018-07-30 16:52] ricburton commented on #379
We should have links to a status page for our data providers (and our servers).

We should also have a list of chrome extensions (are they detectable) that might be causing the proble.

We should suggest that a customer tries another browser before assuming that our software is completely broken :)

I will think on this. It should all be added into the work in issue #300.

[2018-07-30 16:53] ricburton commented on #379
Yeah, @vcealicu, how can we better handle this?

[2018-07-30 19:36] ligi opened #380 "UX: Don't show fee slider on rinkeby"
on rinkeby the fee slider makes no sense - should always be 21Gwei here

![selection_106](https://user-images.githubusercontent.com/111600/43419220-a00c8a8c-9440-11e8-905e-5a0143056674.png)

[2018-07-30 19:41] ricburton commented on #380
Good to know—thanks! Right now we are not focused on developers but this seems like a quick fix.

Richard

On Mon, Jul 30, 2018 at 15:36:40, ligi < notifications@github.com > wrote:

[2018-07-30 19:43] ligi commented on #380
I do not think this is only important for developers - users might also want to try out things before using it with real money. Especially when it is in a early development state like this.

[2018-07-30 22:33] ricburton opened #381 "Explain WalletConnect more clearly"
Great feedback:

<img width="663" alt="screen shot 2018-07-30 at 18 32 48" src="https://user-images.githubusercontent.com/438160/43427312-0a935fbc-9427-11e8-9ed9-655fd65274f4.png">
<img width="671" alt="screen shot 2018-07-30 at 18 32 42" src="https://user-images.githubusercontent.com/438160/43427315-0c42e9e0-9427-11e8-86aa-84d304e23ae2.png">

@pedrouid, would love your thoughts here

[2018-07-30 22:39] ricburton opened #382 "WalletConnecting on Localhost fails"
<img width="1680" alt="screen shot 2018-07-30 at 18 38 39" src="https://user-images.githubusercontent.com/438160/43427502-d27d6ea0-9427-11e8-8d9e-2ab50686807d.png">

[2018-07-31 22:51] defidavid commented on #363
@ricburton -- I've got a branch I'd like to submit for this.  It appears I don't have permission to do so...

[2018-08-01 17:12] ricburton opened #383 "العَرَبِيَّة Arabic Translation"
This would be great!

[2018-08-01 19:37] ricburton commented on #363
You can make a pull request :)
On 31 Jul 2018, 18:51 -0400, David Salgado <notifications@github.com>, wrote:

[2018-08-02 02:42] defidavid commented on #363
Looks like I'm still lacking some permissions.

![image](https://user-images.githubusercontent.com/2999380/43559456-bab13664-95d3-11e8-83f0-97b328c58016.png)

[2018-08-02 03:09] ricburton commented on #363
Hi David,

I think you are trying to push to our branch. You should be pushing to yours.

Does that make more sense? :)
On 1 Aug 2018, 22:42 -0400, David Salgado <notifications@github.com>, wrote:

[2018-08-02 03:17] defidavid commented on #363
Not quite, haha.  So I cloned the `latest` branch and then branched off of it.  My branch is, `backButton`, which I have locally.  I was then going to push my branch to `origin` (the github repo) and create a PR against the `latest` branch.

This is the workflow I have always used when using github.  I definitely wouldn't call myself a git expert so I might be missing something :)

[2018-08-02 15:48] ricburton commented on #371
**Acceptance criteria**
Tidy up the main screens for Balance Manager.
- [ ] Login
- [ ] WalletConnect Popup
- [ ] Send
- [ ] Exchange
- [ ] Receive

Please ask @mikedemarais for help if you are stuck. Or DM Richard on twitter.com/ricburton if you want access to our private chat room.

We are here to HEPL <3

[2018-08-02 18:51] afiaudofia commented on #371
Hello @ricburton is someone working on these issues? I would like to start.

[2018-08-02 19:56] PierrickGT opened #384 "Can't resolve 'ethereumjs-wallet/hdkey' in 'balance-manager/src/handlers'"
### What is this issue about? (select one)

* [x] Bug report
* [ ] Feature request
* [ ] Enhancement

### Issue Description

The app doesn't build cause `hdkey` isn't required properly on this line: https://github.com/balance-io/balance-manager/blob/2076930b36d066db58e5d8b27011d468432698e0/src/handlers/trezor-eth.js#L5

As stated in the following PR https://github.com/balance-io/balance-manager/pu

[2018-08-02 20:08] PierrickGT commented on #384
Quick fix here: https://github.com/PierrickGT/balance-manager/commit/3752bd509d52621b04b01dbe026195ca9ce1d08c

[2018-08-02 23:07] ricburton opened #385 "Log Out “g” is cut off"
Bottom of the g is cut off on Safari

[2018-08-02 23:21] ricburton opened #386 "Bar on drop down on iPad safari"
Niggle
![f191e016-7ebe-4574-adf3-457b89c08e35](https://user-images.githubusercontent.com/438160/43616196-4c7d6a3a-9689-11e8-8317-a35daafc6e62.png)

[2018-08-02 23:22] ricburton commented on #385
![9590d6bd-43c4-4212-9e04-d017c6bf0695](https://user-images.githubusercontent.com/438160/43616202-56bd7486-9689-11e8-94fb-af8588ad2263.png)

[2018-08-03 02:26] Kempo commented on #371
Hi @ricburton, I previously completed a task for you on Gitcoin [here](https://gitcoin.co/issue/balance-io/balance-website/113/764) and you merged my PR [here](https://github.com/balance-io/balance-website/pull/151). Will you please accept the work and pay out? Thank you.

[2018-08-03 14:46] vs77bb commented on #371
Per request from @ricburton, @PierrickGT has been selected to run with this bounty! Thanks to everyone for their interest - more to come on Balance soon, I'm sure 🙂

[2018-08-08 10:57] jackjdleslie opened #391 "Small style inconsistency for WalletConnect buttons"
### What is this issue about? (select one)

* [x] Bug report
* [ ] Feature request
* [ ] Enhancement

### Issue Description

Hover and active colours for the WalletConnect button (and the WalletConnect modal 'close' button) are the wrong colour scheme. They appear to be the colours for the Ledger button.

## Steps to reproduce

1. Hover over/click 'Use WalletConnect' button
2. Hover over/click 'Cl

[2018-08-08 12:15] michael1011 opened #392 "Unnecessary horizontal scrolling on small devices"
### What is this issue about?

* [x] Bug report
* [ ] Feature request
* [ ] Enhancement

### Issue Description

I am using the Balance manager on my laptop and I can scroll to the left and right although there should be enough space to show all information:
![screenshot from 2018-08-08 14-07-21](https://user-images.githubusercontent.com/8138838/43836185-d7852c3c-9b14-11e8-99f3-6006fa7b79dd.png)

M

[2018-08-08 12:17] ricburton commented on #392
Sorry about this. What laptop/reposition?
On 8 Aug 2018, 13:16 +0100, michael1011 <notifications@github.com>, wrote:

[2018-08-08 12:24] michael1011 commented on #392
@ricburton it is a Dell Inspiron 5547 with a 15 inch display and a resolution of 1366 x 768

[2018-08-09 16:52] michelgotta commented on #189
@ricburton Gitcoin Bot notified me that this one expires soon.

[2018-08-12 13:01] PierrickGT commented on #391
Fixed by this commit: https://github.com/balance-io/balance-manager/pull/390/commits/880ff676b45637859d041f94588b0ffc31422dd2

[2018-08-23 17:02] frankchen07 commented on #371
@ricburton & @PierrickGT - snoozed Gitcoin bot for unapproved workers. Is there additional review needed: https://github.com/balance-io/balance-manager/pull/389 to close the issue out?

[2018-08-24 02:03] andyrewlee commented on #363
@TrustyTexan does it work if you fork the repo and then make a pull request?

@ricburton How would this work in a mobile view?

I am not sure having this button is the best idea because when would a user want to go back to the landing page. I imagine balance manager having a standalone electron application in the future and it wouldn't make sense in that context either.

[2018-08-24 16:17] ricburton commented on #363
Thanks for tryin David. Can you explain the problems you are having making the contribution? I found it tricky to begin with too.

Pierrick has been working on making all of Manager responsive.

We have no plans for an electron app. We tried making macOS software in the early days. We find it’s just not something normal people really use a lot.

Richard
On 24 Aug 2018, 06:03 +0400, Andrew Lee <not

[2018-08-24 16:18] ricburton commented on #371
Pierrick is just finishing up some bits but we are happy to pay now if that’s easier? We are delighted with his work.

Richard
On 23 Aug 2018, 21:02 +0400, Frank <notifications@github.com>, wrote:

[2018-08-24 19:07] vs77bb commented on #371
@ricburton @PierrickGT Paid out, as I saw @PierrickGT's PR was merged an hour ago + saw Ric's comment. Great work here and excited for more work together with both of you, hopefully 🙂

[2018-08-25 13:21] #384 closed, assigned to nobody

[2018-08-30 13:46] defidavid commented on #363
@ricburton -- When I attempt to create a PR, I need to select the branch against which to compare the `latest` branch.  The the workflow I'm familiar with requires me to push my local branch to origin (the github repo), so that I can select my branch when creating the PR.  I just need the ability/permission to push my local branch to the github repo, so a PR can be created on the github repo compa

[2018-08-30 13:48] defidavid commented on #363
Btw, I was on vacation camping in the mountains of Colorado.  I just saw this message yesterday.

[2018-08-30 20:27] ricburton commented on #363
@jinchung can you give David some advice here?

Richard

On Thu, Aug 30, 2018 at 5:48 PM, David Salgado < notifications@github.com > wrote:

[2018-08-30 21:50] defidavid commented on #363
@ricburton @jinchung -- I figured out the issue.  Given that this is the first OSS contribution I've made, I have not needed to fork a repo in the past.  I instead cloned your repo, but I should have forked.  I'll go through that process when I get some time.  I'm sorry for the confusion!

[2018-09-04 07:07] ricburton opened #400 "Changing an asset on exchange results in the GET price having lots of decimals"
See here:

https://cl.ly/e9c1a0fbea6a

[2018-09-05 07:34] ricburton opened #401 "The most important part of open source"
https://twitter.com/radexp/status/1035930056726667264?s=12

[2018-09-05 08:29] Iphara opened #402 "New derivation path on Ledger nano S"
### Bug - Issue Description
I can't access my Ethereum addresses (<1 mo old) from Balance Manager. I only access empty addresses.
I guess it's due to the new derivation path as they are now using at ledger with their Ledger Live.
https://github.com/LedgerHQ/ledger-live-desktop/issues/1185

Sorry about the formatting, not that familiar with Github issues.

[2018-09-06 09:53] ricburton opened #403 "Gnosis Web3 provider"
Make sure we can support their chrome extension

[2018-09-06 13:45] ricburton commented on #402
Thank you so much for this report. Really helpful.

Richard

On Wed, Sep 05, 2018 at 10:29 AM, Iphara < notifications@github.com > wrote:

[2018-09-10 12:40] ricburton commented on #358
Good discussions with Vitaly (Bloqboard) and Sid/Nadav (Dharma) on unsecured underwritten loans. My notes:

- Bloqboard need some time to work out the regulations.
- This probably requires a custom UI for it to work niceley.
- As a first pass: applying for and funding the loans on Balance.
- This will need some custom user interface work to make it happen.
- The smart contracts have the concept of

[2018-09-11 10:34] jackjdleslie commented on #391
@PierrickGT update on this in PR #404

[2018-09-13 19:20] jackjdleslie commented on #385
Addressed in PR #405

[2018-09-14 18:54] jackjdleslie commented on #361
Addressed in #406

[2018-09-15 08:05] ricburton opened #407 "Exchange back and forth bug"
CLick exchange
Change first asset from ETH to ANT
Change second asset from ANT to ETH
Click USD
Enter 10 USD

The amount of ANT in the Pay field kept growing a lot.

Will make a video of this.

[2018-09-15 21:02] jackjdleslie commented on #386
Addressed in #408

[2018-09-17 06:33] Ins0mniaIco opened #409 "How do I add coin/token to exchange?"
### What is this issue about? (select one)

* [ ] Bug report
* [ x] Feature request
* [ x] Enhancement

### Issue Description

## Steps to reproduce

1.
2.
3.

### Expected Behavior

### Actual Behavior

I want to add custom coins to the exchange, how can I do that?

[2018-09-17 11:27] ricburton opened #410 "Safari 9 Bugs [Low priority]"
https://whatsmybrowser.org/b/HHCRHLR

A few issues while demonstrating Manager to my grandpa on his old iPad.

[2018-09-18 20:05] jackjdleslie opened #413 "Detect mobile dapp browser app and provide custom button"
### What is this issue about? (select one)

* [ ] Bug report
* [ ] Feature request
* [x] Enhancement

### Issue Description

If you use [manager.balance.io](https://manager.balance.io) on mobile, you either:

1. Use Safari (or something similar) and get the option to connect to Trust Wallet, which does nothing at the moment, and use WalletConnect
2. Use Trust Wallet, Status, Coinbase Wallet (or so

[2018-09-18 23:03] #252 closed, assigned to nobody

[2018-09-18 23:04] jinchung commented on #401
What's this issue for? @ricburton

[2018-09-18 23:06] jinchung commented on #377
We will probably not be using shapeshift going forward due to the kyc requirements. Will close this issue.

[2018-09-18 23:06] #377 closed, assigned to nobody

[2018-09-18 23:06] #80 closed

[2018-09-18 23:07] #64 closed

[2018-09-18 23:07] #81 closed

[2018-09-18 23:07] #83 closed

[2018-09-18 23:07] #78 closed

[2018-09-18 23:09] #407 closed, assigned to nobody

[2018-09-18 23:10] jinchung commented on #409
Hi, currently we use Shapeshift, so it will be determined by what is available through them. In the future, we will be adding other exchanges which will give us more exchange pairs.

[2018-09-18 23:10] #409 closed, assigned to nobody

[2018-09-18 23:13] jinchung commented on #45
Too open ended. If there are specific tool tips you would like to be added, create issues for those. Closing this for now.

[2018-09-18 23:13] #45 closed

[2018-09-18 23:14] jinchung commented on #54
Closing this for now unless this comes back as a clear feedback / use case.

[2018-09-18 23:14] #54 closed

[2018-09-18 23:15] jinchung commented on #382
No longer an issue.

[2018-09-18 23:15] #382 closed, assigned to nobody

[2018-09-18 23:56] jinchung commented on #413
@ricburton

[2018-09-18 23:58] jinchung commented on #119
@ricburton still an issue?

[2018-09-18 23:59] #385 closed, assigned to nobody

[2018-09-18 23:59] #386 closed, assigned to nobody

[2018-09-19 00:01] jinchung commented on #362
Fixed

[2018-09-19 00:01] #362 closed, assigned to nobody

[2018-09-19 00:06] #361 closed, assigned to nobody

[2018-09-19 00:11] #318 closed, assigned to nobody

[2018-09-19 00:12] #391 closed, assigned to nobody

[2018-09-19 00:14] jinchung commented on #400
What would the preferred logic for this be? Are you saying you just want to see less decimals for all currencies that have more than X decimals? And what if the value gets really small, like 0.000000000000000111, what would be the best UI then?

[2018-09-19 00:17] #263 closed, assigned to nobody

[2018-09-19 00:18] jinchung commented on #348
Good first issues:
- running a script to find gaps in translations across the available languages (the English gets updated often while the other languages lag behind.)
- Having Google translate for the other missing items

[2018-09-19 00:19] #187 closed, assigned to nobody

[2018-09-19 00:20] #349 closed, assigned to nobody

[2018-09-19 00:22] jinchung commented on #302
Will close this for now unless we have specific designs we know we would like to have.

[2018-09-19 00:22] #302 closed, assigned to nobody

[2018-09-19 00:23] jinchung commented on #307
This will come along when we add additional currency support in general.

[2018-09-19 00:23] #307 closed, assigned to nobody

[2018-09-19 00:23] jinchung commented on #306
This will come along when we support further currencies.

[2018-09-19 00:23] #306 closed, assigned to nobody

[2018-09-19 00:23] jinchung commented on #288
@ricburton is this still an issue?

[2018-09-19 00:25] #282 closed, assigned to nobody

[2018-09-19 00:25] #276 closed, assigned to nobody

[2018-09-19 00:25] #275 closed, assigned to nobody

[2018-09-19 00:26] jinchung commented on #204
Closing this for now as we will be revisiting our exchange aggregator situation after other priorities.

[2018-09-19 00:26] #204 closed

[2018-09-19 00:27] #241 closed, assigned to nobody

[2018-09-19 00:28] #238 closed, assigned to nobody

[2018-09-19 00:28] #237 closed, assigned to nobody

[2018-09-19 00:31] jinchung commented on #194
Will be taken care of with BTC support.

[2018-09-19 00:31] #194 closed

[2018-09-19 00:31] jinchung commented on #192
This will be taken care of with a Wyre integration.

[2018-09-19 00:31] #192 closed

[2018-09-19 00:31] jinchung commented on #193
This may be taken care of with a Wyre integration. Or nothing.

[2018-09-19 00:31] #193 closed

[2018-09-19 00:32] #191 closed

[2018-09-19 00:32] #190 closed

[2018-09-19 00:32] #200 closed

[2018-09-19 00:34] #170 closed

[2018-09-19 00:34] #166 closed

[2018-09-19 00:35] #168 closed

[2018-09-19 00:35] #162 closed

[2018-09-19 00:35] #160 closed

[2018-09-19 00:36] #171 closed

[2018-09-19 00:36] #165 closed

[2018-09-19 00:36] #164 closed

[2018-09-19 00:36] #161 closed

[2018-09-19 00:37] #159 closed

[2018-09-19 00:37] #154 closed

[2018-09-19 00:37] #153 closed

[2018-09-19 00:37] #149 closed

[2018-09-19 00:37] #148 closed

[2018-09-19 00:38] #147 closed

[2018-09-19 00:38] #145 closed

[2018-09-19 00:39] #142 closed

[2018-09-19 00:40] #141 closed

[2018-09-19 00:41] #124 closed

[2018-09-19 00:41] #115 closed

[2018-09-19 00:45] #87 closed

[2018-09-19 00:45] jinchung commented on #87
Duplicate

[2018-09-19 00:46] #105 closed

[2018-09-19 00:47] #69 closed

[2018-09-19 00:49] #236 closed, assigned to nobody

[2018-09-19 00:52] jinchung commented on #340
Will close this for now unless any other actionable item required. @ricburton

[2018-09-19 00:52] #340 closed, assigned to ricburton

[2018-09-19 00:52] jinchung commented on #60
will be addressed with issue: https://github.com/balance-io/balance-manager/issues/339

[2018-09-19 00:52] #60 closed

[2018-09-19 00:53] jinchung commented on #176
Will be addressed with issue: https://github.com/balance-io/balance-manager/issues/339

[2018-09-19 00:53] #176 closed

[2018-09-19 00:59] jinchung commented on #58
@ricburton hey is this still an issue?

[2018-09-19 01:06] #371 closed, assigned to nobody

[2018-09-19 01:08] jinchung commented on #410
@ricburton can you specify the bugs? I don't see anything on that link except for my own details

[2018-09-19 01:10] #372 closed, assigned to jinchung

[2018-09-19 01:12] #265 closed, assigned to ricburton

[2018-09-19 01:14] #373 closed, assigned to jinchung

[2018-09-19 01:24] jinchung commented on #323
@ricburton do you think this is still a problem?

[2018-09-19 01:27] jinchung commented on #321
@ricburton where are we with this?

[2018-09-19 01:30] #251 closed, assigned to nobody

[2018-09-19 01:30] #256 closed, assigned to nobody

[2018-09-19 01:31] #225 closed, assigned to nobody

[2018-09-19 01:52] #89 closed

[2018-09-19 01:53] jinchung commented on #248
Will close this for now given that this project should be separate from our work.

[2018-09-19 01:53] #248 closed, assigned to nobody

[2018-09-19 01:55] #215 closed, assigned to nobody

[2018-09-19 01:56] jinchung commented on #197
Done with Cure53.

[2018-09-19 01:56] #197 closed

[2018-09-19 01:56] #201 closed

[2018-09-20 09:36] jackjdleslie commented on #413
Addressed in #414

[2018-09-20 17:39] jackjdleslie commented on #291
Partially addressed in #414

[2018-09-20 17:42] jackjdleslie commented on #300
Partially addressed in #414

[2018-09-20 21:34] jackjdleslie opened #415 "Selected language in dropdown defaults to EN when connected despite chosen language"
### What is this issue about? (select one)

* [x] Bug report
* [ ] Feature request
* [ ] Enhancement

### Issue Description

If you set the language to anything other than EN (e.g FR), then connect with MetaMask/WalletConnect, the Account view text is in FR but the selected language in the dropdown defaults back to EN.

## Steps to reproduce

1.  Go to manager and choose FR
2.  Connect with MetaMa

[2018-09-20 22:24] ricburton opened #416 "WalletConnect logo is pixelated"
Just got a report on twitter that it looks off.

[2018-09-24 18:24] jackjdleslie commented on #416
Addressed in #420

[2018-10-05 00:23] jackjdleslie opened #430 "Preparation for EIP-1102"
### What is this issue about? (select one)

* [ ] Bug report
* [ ] Feature request
* [x] Enhancement

### Issue Description

As per [this article](https://medium.com/metamask/https-medium-com-metamask-breaking-change-injecting-web3-7722797916a8) the web3 injection from MetaMask and other dapp browsers like Status, imToken and Mist will stop.

[2018-10-05 00:35] cipherpeon commented on #430
Addressed in #431

[2018-10-10 15:33] Polej commented on #214
Hey, our Trivial API routes have been updated. The syntax of API URL is now starting with:

Detailed doc for current API is [here](https://docs.google.com/document/d/1ytiXg2XmNbAqK12ne5-Of104qP55d3F-TpNs1K5Vyzg/edit?usp=sharing)

@mfolkeseth Is this issue still a trouble?

We had much to do regarding our new website: [https://trivial.co/](https://trivial.co/) (Check it!)
Now there's a bit more spa

[2018-10-22 07:54] mfolkeseth commented on #214
Hey @Polej!

I guess that's up to @ricburton to decide whether or not this issue deserves some attention. I'd be happy to update the PR with the last API changes.

Love the new site! 🎉

[2018-10-22 10:25] #430 closed, assigned to nobody

[2018-10-24 23:53] digitaldonkey opened #442 "Network Settings on manager.balance.io"
### What is this issue about? (select one)

* [X] Bug report
* [ ] Feature request
* [ ] Enhancement

### Issue Description

Network changer shows unexpected behavior  at https://manager.balance.io
Switching Network is not possible.

![image](https://user-images.githubusercontent.com/444718/47467645-cbbf3580-d7f7-11e8-9725-dea52c0f2c87.png)

* Switching network in Metamask Plugin when connected wi

[2018-10-29 16:49] #416 closed, assigned to nobody

[2018-11-21 07:58] spm32 commented on #203
Hey @ricburton should we pay this one out / cancel?

[2018-11-28 00:47] ligi opened #453 "Failed to Fetch"
### What is this issue about? (select one)

* [x] Bug report
* [ ] Feature request
* [ ] Enhancement

### Issue Description

![selection_283](https://user-images.githubusercontent.com/111600/49121092-82a74900-f2af-11e8-9c08-bd9ec9a4a91b.png)

## Steps to reproduce

1.  click on use WalletConnect

### Expected Behavior

QR code

### Actual Behavior

Failed to fetch

[2018-11-28 19:20] ligi commented on #453
Update: it works when the privacy badger is disabled. But hopefully there is a way to get it working with it also - or at least fail with a better error message. https://example.walletconnect.org works for me with privacy badger enabled

[2018-12-03 09:23] emkman commented on #442
Same issue when running locally via webpack. Surprised that networks besides mainnet don't work, especially in local dev environment. You can see the discrepancy here between `<Metamask>` and `<BaseLayout>`:
![image](https://user-images.githubusercontent.com/275773/49368625-ff696700-f6a3-11e8-84a7-8209947ae614.png)

According to the redux debugger, it appears that `account/ACCOUNT_UPDATE_NETWORK`

[2018-12-05 20:00] jinchung opened #457 "Observed another account's transaction info"
### What is this issue about? (select one)

* [x] Bug report
* [ ] Feature request
* [ ] Enhancement

### Issue Description
When using Ledger with a different account, briefly observed the account data from Metamask (even though Metamask had been logged out.) Perhaps related to some application caching.

## Steps to reproduce

1.  Log into Metamask with one account, then log out.
2.  Log into Ledg

[2018-12-11 02:04] tjayrush opened #460 "Send and Receive popup windows misplaced if 'show more transactions' is selected"
### What is this issue about? (select one)

* [x ] Bug report
* [ ] Feature request
* [ ] Enhancement

### Issue Description

I was using the Balance Manager, and I clicked on the 'Show More Transactions' at the bottom of the transactions list. It looked fine. I then went and clicked on the 'Receive' button and the popup window with the QR code was misplaced (at was 9/10 off the screen at the bott

[2018-12-20 01:42] jacklein commented on #183
Hi, can you direct me to where the language specific json files are? thanks

[2018-12-27 23:22] ricburton commented on #460
Thanks man. Great find!

Richard

On Mon, Dec 10, 2018 at 9:04 PM, Thomas Jay Rush < notifications@github.com > wrote:

[2018-12-27 23:24] ricburton commented on #183
Hi @jacklein,

They are all located here: https://github.com/balance-io/balance-common/tree/develop/src/languages

We’d love to get a translation for this.

[2018-12-28 14:13] jacklein commented on #183
do you need translations for mandarin chinese? i could maybe get some of the basic items together if so

[2019-01-02 17:22] tomjohnburton opened #462 "0x tokens not showing"
### What is this issue about? (select one)

*  Bug report
* [ ] Feature request
* [ ] Enhancement

### Issue Description

<img width="909" alt="screenshot 2019-01-02 18 19 42" src="https://user-images.githubusercontent.com/39559415/50603518-0827a580-0ebb-11e9-89f2-f0e1b1849260.png">
<img width="235" alt="screenshot 2019-01-02 18 20 04" src="https://user-images.githubusercontent.com/39559415/506035

[2019-01-03 19:41] abstractpoint opened #463 "Donate link in the bottom left does not work"
### What is this issue about? (select one)

* [x] Bug report
* [ ] Feature request
* [ ] Enhancement

### Issue Description
Clicking on the link results in JS error in console and an empty screen.

## Steps to reproduce

1.  log in via WC
2. click on donate link (in Chrome on Desktop (Mac & PC))

[2019-01-13 23:21] jackjdleslie commented on #463
Addressed in #466

[2019-01-14 00:16] jackjdleslie commented on #460
Possible fix #465

[2019-01-18 23:37] jackjdleslie commented on #364
Addressed in https://github.com/balance-io/balance-common/pull/59

[2019-01-21 22:15] kuhnchris commented on #203
Hi @ricburton @gokulkrishh .
Do you guys still need any help with the gitcoin side of things, or did this PR run stale?
If there's anything we can help you with, let us know!

Thanks,
Chris and the Gitcoin-Team!

[2019-01-23 19:38] CPSTL commented on #186
Hey @ricburton @pedrouid, Gitcoin here checking in to see if this issue needs any more work to be done before it can be closed and paid out?

[2019-01-23 19:40] CPSTL commented on #189
Hey @ricburton , Gitcoin here checking in to see if @michelgotta needs to add any more improvements or edits before it can be closed and paid out?

[2019-01-23 19:42] CPSTL commented on #139
Hey @pedrouid , Gitcoin here checking in to see if you have reviewed @dilatebrave 's PR yet?

[2019-01-24 13:08] michelgotta commented on #189
@CPSTL Thanks for pushing this up. Would be nice if this bounty would be paid because these where a few hours of development – but I think this whole repo is out of development since a few month. A lot of development was going on when opening the PR and merging wasn't that easy (See comment by @ricburton: https://github.com/balance-io/balance-manager/pull/299#issuecomment-402983375).

@mikedemarai

[2019-01-28 18:18] ricburton opened #467 "Change to 0x Instant CDN version"
To get the latest versions.

[2019-01-28 22:01] abstractpoint opened #468 "Sending Max amount of tokens fails due to rounding (For example LPT token)"
### What is this issue about? (select one)

* [x] Bug report
* [ ] Feature request
* [ ] Enhancement

### Issue Description

I have tried to send LPT token to another address, so I clicked on Max and it game me a value of 97.5489046591681266 to be sent. I then got a transaction submitted without a problem, but later transaction failed with an error
[code]
I suspect it is either an amount that got

[2019-01-29 14:14] ricburton opened #469 "Add Coral to the Send flow"
![slice](https://user-images.githubusercontent.com/438160/51914167-0dc6bd00-238d-11e9-84ac-32f5c301ffd3.png)

Would be great to add this after we launch Balance for iOS

[2019-02-06 18:32] ricburton opened #471 "Automatically connect after someone enters their password"
Right now, if people try to connect to manager and do not have Metamask unlocked, they are prompted to do that.

After they enter the password, the error just hangs there. It should log in automatically or present a Connect button again.

[2019-02-06 18:32] ricburton opened #472 "Screen goes grey after sending with Ledger Nano S"
A customer reported this issue. I will investigate more.

[2019-02-09 02:48] ricburton opened #473 "Send Max on MKR failed"
This failed: https://etherscan.io/tx/0x9c4f8a25e232bfe3341a42c9cdd78406dc28510f337366f7fbd69d668030c286

[2019-02-09 02:49] ricburton commented on #473
<img width="584" alt="screen shot 2019-02-08 at 9 48 55 pm" src="https://user-images.githubusercontent.com/438160/52515565-5a12c800-2beb-11e9-9285-45d0c3058678.png">

And it showed ETH not MKR. Is this a Balance Common issue @jinchung?

[2019-02-09 10:02] tmlee commented on #185
Hey thanks for considering CoinGecko API, happy to help answer any questions you may have. Our API docs can be found at https://www.coingecko.com/api

[2019-02-09 13:03] ricburton opened #474 "Add a 1% fee to 0x Instant"
<img width="400" alt="screenshot 2019-02-09 at 08 02 21" src="https://user-images.githubusercontent.com/438160/52521174-1fd41580-2c41-11e9-9c50-1ee32e803469.png">

MyCrypto charge a fair fee.

[2019-02-09 13:23] ricburton commented on #185
<img width="441" alt="screenshot 2019-02-09 at 08 22 27" src="https://user-images.githubusercontent.com/438160/52521340-ec46ba80-2c43-11e9-9a55-083b885a5ee5.png">

Maker's price feed for DAI could be nice

[2019-02-12 14:00] DaniGuardiola commented on #189
@michelgotta I have no idea, sorry

[2019-02-12 14:01] ricburton commented on #189
Oh sorry about this. I need to dive into a Gitcoin again. Will look today.

Richard
On 12 Feb 2019, 09:00 -0500, Dani Guardiola <notifications@github.com>, wrote:

[2019-02-13 15:22] jackjdleslie commented on #471
Ah it might be to do with the eip-1102 stuff, is this with privacy mode on or off? What version of MetaMask?

[2019-03-02 02:34] rstormsf commented on #471
![screenflow](https://user-images.githubusercontent.com/9360827/53675905-789b3a80-3c50-11e9-8feb-c8b6b31d4d6a.gif)

@ricburton hmmm...I can't reproduce that scenario based off `latest` branch
Metamask 6.1.0

[2019-03-02 02:49] rstormsf opened #476 "How do I switch indexer API request?"
### What is this issue about? (select one)

[x] Question

### Issue Description
I was wondering how to setup a dev env for testnet.
I found 1 hardcoded string for web3 instance which is easy to change, but I wasn't able to find where the request is constructed for `https://indexer.balance.io/get_balances/mainnet/0x0039f22efb07a647557c7c5d17854cfd6d489ef3`
I was hoping to setup the environment agai

[2019-03-07 20:31] karmenglee71 commented on #476
Get balance :0x5dA2e93149Df4b4285afA733a3013a64F6501BD5

[2019-03-14 17:29] ricburton opened #477 "Failed sending & Timeout 3000ms"
Look into sending issues.

[2019-03-25 11:24] ricburton opened #479 "Sending BAL failed"
<img width="1920" alt="Screen Shot 2019-03-25 at 11 24 22" src="https://user-images.githubusercontent.com/438160/54916089-9165db80-4ef0-11e9-8595-eaa6a9f5c712.png">

[2019-03-25 14:41] ricburton commented on #479
<img width="409" alt="Screen Shot 2019-03-25 at 14 41 27" src="https://user-images.githubusercontent.com/438160/54928634-1e6a5e00-4f0c-11e9-91e2-f33a06b17b5f.png">

[2019-04-09 20:03] ricburton opened #480 "Update to latest Ledger API"
### What is this issue about? (select one)

* [X] Bug report

### Issue Description

Balance doesn't work with latest Ledger Nano

## Steps to reproduce

I need a Nano X. This was a report from a customer.

[2019-04-13 17:24] prestonattebery opened #481 "Manager not showing USD values for past ETH transactions"
### What is this issue about? (select one)

* [X] Bug report

### Issue Description

## Steps to reproduce

1.
2.

### Expected Behavior

### Actual Behavior

[2019-04-13 17:24] prestonattebery commented on #481
<img width="944" alt="Screen Shot 2019-04-13 at 1 13 40 PM" src="https://user-images.githubusercontent.com/35507980/56083170-769bce00-5def-11e9-9c98-a0a67fcbbe96.png">

[2019-04-16 10:54] pedrouid opened #482 "Switch backend to ethereum-api"
Balance Indexer backend currently only supports Mainnet and this could be improved by using the ethereum-api which will support all chains supported by Blockscout.

Additionally Balance Indexer should fork ethereum-api and add aggregate price feeds from a different source like coinmarketcap for more accurate price

[2019-04-16 10:54] pedrouid commented on #482
cc @tomjohnburton

[2019-04-16 10:55] pedrouid commented on #482
ethereum-api repo: https://github.com/pedrouid/ethereum-api

[2019-04-16 10:59] tomjohnburton commented on #482
interesting project. I'll take a look!

[2019-04-24 22:38] jbibla opened #484 "WalletConnect fetch failure"
### What is this issue about? (select one)

* [x] Bug report
* [ ] Feature request
* [ ] Enhancement

### Issue Description

## Steps to reproduce

1.  go to manager.balance.io in chrome on a mac
2.  click "Use Wallet Connect"
3.  feel sad

### Expected Behavior

- clicking the WalletConnect button should display the QR code

### Actual Behavior

![Screen Shot 2019-04-24 at 6 38 32 PM](https://use

[2019-04-26 12:54] ricburton opened #486 "Token sending"
![6706511217426432](https://user-images.githubusercontent.com/438160/56808995-d2f3ea00-6800-11e9-89a5-4f77087b5eea.png)

Asked the customer for more info

[2019-04-26 16:57] jackjdleslie commented on #486
This can sometimes happen because of the CORS policy with the cryptocompare API, i've only seen it happen when requests are made from anything other than manager.balance.io (i.e run locally or a netlify preview link). Were they using the live version?

[2019-04-26 17:00] jackjdleslie commented on #484
Thanks @jbibla! @pedrouid is in the process of upgrading WalletConnect so should be fixed soon 👍

[2019-04-26 17:04] ricburton commented on #486
Ah CORS that old friend :/

Richard
On 26 Apr 2019, 12:57 -0400, Jack Leslie <notifications@github.com>, wrote:

[2019-05-09 19:14] jackjdleslie commented on #484
Resolved with #470 and #487

[2019-05-09 19:14] #484 closed, assigned to nobody

[2019-06-17 15:43] dereksilva commented on #316
Hey Ric, what can we do to help move this forward? Your team's best bets for documentation is the [Share Kit](https://github.com/hellobloom/share-kit) repo, [Bloom Starter](https://github.com/hellobloom/bloom-starter) repo, and associated framework/language repositories available. We also have a [Gitcoin bounty worth 250 DAI](https://gitcoin.co/issue/hellobloom/bloom-starter/3/2915) for live integ

[2020-03-04 19:46] nuke-web3 opened #493 "Integrate support for more hardware wallets"
### What is this issue about? (select one)

* [ ] Bug report
* [x] Feature request
* [x] Enhancement

https://github.com/shapeshift/hdwallet

This library is a great tool to easily interact with hardware (HD) wallets in browsers @keepkeyjon and team have made this relatively easy.

[2020-03-04 19:47] nuke-web3 opened #494 "https://manager.balance.io is linked in the repo description , server not found"
### What is this issue about? (select one)

* [x] Bug report
* [ ] Feature request
* [ ] Enhancement

### Issue Description

https://manager.balance.io is linked in the repo description , server not found

## Steps to reproduce

1.  https://github.com/balance-io/balance-manager

[2020-04-22 09:29] tsusanka opened #496 "Full passphrase support in newest Trezor firmwares (1.9.0 and 2.3.0)"
We have done some modifications regarding how passphrase is communicated between Trezor and the host.

Please upgrade the [trezor-connect](https://www.npmjs.com/package/trezor-connect) dependency of your application to latest (8.1.1 atm), otherwise your users won't be able to enter passphrase on the device (on Trezor T).

Thanks!

[2020-10-24 22:29] #494 closed, assigned to nobody

[2020-10-24 22:29] #493 closed, assigned to nobody

[2021-03-16 12:04] michelgotta commented on #189
@ricburton @DaniGuardiola I am still missing my 0.1 ETH

[2021-03-16 14:19] DaniGuardiola commented on #189
@michelgotta I am not part of this project or the company behind it, so I cannot help you in any way, sorry